[2021-06-14 07:08] Straightpool commented on #2164
Yes it is really a Yoroi backend issue. I have contacted the Yoroi team they are looking into this.

[2021-06-14 07:14] efraservizi commented on #2164
Thanks a lot ! We've just 12 little delegates so far, and i'm scared to loose some of them :-(

[2021-06-14 08:18] Elite-Stake-Pool commented on #2164
Hello all. Elite Stake Pool is experiencing the same issue with Elite Stake Pool 1. Our pool displays as unknown and is perfectly fine everywhere else (poolstats, pooltool, adapools, pool.pm, Daedalus etc)

We are very concerned that this will impact our delegate's confidence in the pool and will therefore potentially re-delegate elsewhere. We will keep an eye on this and report back when it recti

[2021-06-14 23:10] rooooooooob commented on #2157
@anon-real Sorry for the delay, but can you post the JSON contents of the TX you sent to get this issue? I took a look at the UI code for assets and it turns out my intuition earlier was incorrect, and we actually query the ergo explorer backend for asset info. I'm thinking that this might be related to #2162. Is the TX minting a new asset? If so I'm working on #2170 to fix it. If not, maybe the J

[2021-06-15 06:10] efraservizi commented on #2164
From 12 to 11 Delegators now . .  peoples start to loose trust in us  . . . after 10 days !!! STILL UNKNOWN !! THIS IS CRAZY !!! THERE'S NO WAY TO SURVIVE AS LITTLE POOL  :-(

![poolunk](https://user-images.githubusercontent.com/84630741/122001590-d5cf4180-cdb0-11eb-9d24-8329a5cbd579.png)

ANY UPDATES ??

[2021-06-15 06:28] Straightpool commented on #2164
**Update**: Last night I started debugging this with the very supportive Yoroi team, thank you for being on top of this! There are multiple reasons a pool can be displayed as UNKNOWN. The team is fully aware this is very frustrating.  So far known and confirmed issues:

1. Metadata file is invalid
2. Metadata file is not yet fully synched through all caches

Normally, the issue fixes itself after

[2021-06-15 06:52] anon-real commented on #2157
@rooooooooob That is weird because my testing confirmed your initial intuition!
No, I am not issuing new tokens, it crashes for tokens that are not a part of the wallet (at least Yoroi hasn't seen them in the wallet ever.)

I think you can figure out about this issue and https://github.com/Emurgo/yoroi-frontend/issues/2160 at the same time. If you follow the procedure that I posted, then your Yoro

[2021-06-15 10:05] Elite-Stake-Pool commented on #2164
Is there any update from the Yoroi team directly? I have sent a support ticket to them but not heard anything. It would be nice to hear from Yoroi/Emurgo directly?

This issue is still impacting us and as stated the meta data file is not invalid. Pool.Vet shows it is ok, as does poolstats.org, pooltool.io, adapools, pool.pm, Daedalus etc)

[2021-06-15 10:09] efraservizi commented on #2164
If metadata is valid on Pool.vet . . . problem is 100% Related to CACHE !!! Now i see the pool on my smartphone (SQRL) but i still see UNKNOWN pool on the Desktop APP ! Hope this help !

[2021-06-15 10:30] Elite-Stake-Pool commented on #2164
fyi, our pool (Elite Stake Pool 1) shows as Unknown within the Chrome extension AND Android App AND IoS app. - The "Go to Website" button also does not work while the status is "Unknown Pool"

[2021-06-15 11:28] Straightpool commented on #2164
Yup same here, it is a Yoroi backend issue so two frontends to the same backend should behave the same.

[2021-06-15 22:27] rooooooooob commented on #2160
@oskin1 We're hoping for maybe tomorrow.

[2021-06-16 06:32] Straightpool commented on #2164
I fixed the problem within 24 hours by re-running the modification transaction. Root cause for my issue has been isolated, issue updated.

[2021-06-16 07:43] mailman451 opened #2177 "[ERG] Support for Mnemonic Password when restoring Ergo wallets"
Back in the day I created my Ergo wallet by setting up a full node using the java client. At that time I thought it was a good idea to use the mnemonic password, without realising that probably no third-party software will support it.

I know I can create a new wallet with a new address and transfer the old wallet, but I wanted to ask first if there may be a chance that Yoroi might consider suppor

[2021-06-16 11:04] Elite-Stake-Pool commented on #2164
Thank you for the update Straightpool

[2021-06-16 17:38] #2162 closed, assigned to rooooooooob

[2021-06-16 21:06] woodland-ada-pools commented on #2164
Same solution worked for us on the ASPEN pool. Thanks for the workaround @Straightpool ! We owe you some 🍻  at the next Cardano summit ;)

[2021-06-16 23:00] rooooooooob commented on #2157
@anon-real We just released a new Yoroi nightly. It has a fix for #2170 among other issues so it might be worth seeing if for some reason this issue is resolved. If it still happens, could you find the assets in the tx on the explorer and post the link here?

[2021-06-21 08:19] datastory commented on #2165
Solved now, probably by firmware update.

[2021-06-21 08:19] #2165 closed, assigned to nobody

[2021-06-29 20:39] Straightpool opened #2188 "Pool / share size harvey ball percentage should be mirrored"
**Internal/External**
*External*   otherwise.

**Area**
Ranking

**Summary**
Pools near saturation are shown in the column "Pool / share size" with a red harvey ball at 1%, pools way beyond saturation show a green full harvey ball with a higher percentage at e.g. 2.6% This is very confusing to delegators as the percentages are in the low range being mixed up with ROA.

**Steps to reproduce**
Steps

[2021-07-03 11:01] gitmachtl opened #2208 "FR - Add the support for transaction messages/comments/memos with onchain metadata (CIP-0020)"
Please implement transaction comment/description/memo field in Daedalus via onchain metadata addon that uses the metadata messaging from CIP-0020 ?
https://github.com/cardano-foundation/CIPs/blob/a39c12079f031da9cf20f58f355d45545072e002/CIP-0020/CIP-0020.md
CardanoCommunityWallet and other tools implemented it already.

Yoroi for example has a MEMO field, but only usage is for internal memos. The

[2021-07-03 14:07] deadit opened #2209 "Ergo connector: Large (>Number.MAX_SAFE_INTEGER) quantities in txs render them unsignable."
Hey guys. I want to use `sign_tx` method for send 2 tokens in one TX. After I enter the spending password, nothing happens. Promise just has 'pending' state.

<img width="847" alt="Screenshot 2021-07-03 at 16 49 39" src="https://user-images.githubusercontent.com/26635501/124356614-92355e00-dc1f-11eb-8db8-db21c76dd02e.png">

If I reject this TX, I can catch 'reject' state.

[2021-07-03 14:07] deadit commented on #2209
@rooooooooob please, take a look

[2021-07-03 14:11] deadit opened #2210 "Messy transaction summary"
I think there is problem with design. In this case it difficult to understand which tokens will take from / will send to address. What refers to what.

<img width="847" alt="Screenshot 2021-07-03 at 16 49 39" src="https://user-images.githubusercontent.com/26635501/124356891-569b9380-dc21-11eb-98b5-dcd28b75e471.png">

[2021-07-04 08:11] galway2020 commented on #2101
I'm having the same problem. i move ada from binance to yoroi and now can't stake it and can't move it back to binance

[2021-07-04 16:26] zuzunker opened #2211 "Ledger shows the BECH32 Pool Id"
From tweet: https://twitter.com/LEADStakePool/status/1411114501902979073

[2021-07-05 07:24] andreabravetti opened #2212 "Please add the ability to sort wallets"
Please add the ability to sort wallets, it may be useful for people that have some different wallets on Yoroi and should be very simple to implement.

[2021-07-05 20:25] oskin1 commented on #2209
@rooooooooob , @vantuz-subhuman
It seems Yoroi is incapable of handling transactions sending more that one token at once.

[2021-07-06 07:14] rooooooooob commented on #2209
@deadit

I tried reproducing this and I have a tx that involves 2 tokens in one TX and it went through without a hitch. The two tokens were in separate inputs but went to a single output so that might be related. [here it is on the explorer](https://explorer.ergoplatform.com/en/transactions/329f7a0ba62e4acb81ad21680ed19049806272dbb9722d7217e3550e98d1c0c3) with tokens `c804ec8f26627b004b11cf7387b68

[2021-07-06 11:39] oskin1 commented on #2209
@rooooooooob , here is the UnsignedTracnsaction causing the issue:

[code]

[2021-07-06 13:53] acmukas commented on #2097
I have the same problem does anyone found a solution?

[2021-07-06 17:00] deadit commented on #2209
Yoroi nightly dapp - 0.4.0
Yoroi nightly - 4.5.5001

[2021-07-06 17:04] deadit commented on #2209
Hey, I think I found how to test extensions!
Here is the error after input the spending password. Maybe it is on our side problem, will take a look with @oskin1!

![image](https://user-images.githubusercontent.com/26635501/124639839-4c81cb00-de95-11eb-9fbe-5b881d4e8b72.png)

[2021-07-06 17:13] rooooooooob commented on #2209
That error originates inside of Yoroi's code. I think we might be able to remove this now though? I vaguely recall seeing the JSON type updated at some point. When I first wrote this code the JSON I saw supported had a type of only `number` but it might be `number | string` now. Due to this we had a function for converting the string -> numbers so that we could parse it via sigma-rust's JSON.

[2021-07-06 17:16] oskin1 commented on #2209
@rooooooooob, why not switching to BigInt instead of number | string ? It's more convenient to work with.

[2021-07-06 17:18] rooooooooob commented on #2209
Internally we use it for calculations, but for the JSON passing to/from the dApp we have it as `number | string`. However, the sigma-rust json parsing expects (or was expecting at the time of writing) only `number` which is why we had that conversion + error.

[2021-07-06 17:20] rooooooooob commented on #2209
It looks like the types for sigma-rust's JSON parsing is now `number | string` as well. I'll try just removing the check/conversion then and we'll see what happens.

[2021-07-06 20:01] oskin1 commented on #2209
This problematic UnsignedTracnsaction JSON I've provided above is decoded smoothly by `ergo-wasm`. So this should work.

[2021-07-08 22:11] deadit opened #2225 "Yoroi-dapp-connector 0.4.0 doesnt work with yoroi nightly 4.5.7001"
Just download this two extensions at the chrome webstore and try to open yoroi-dapp-connector, you will see blank screen. No any errors in console.
https://chrome.google.com/webstore/detail/yoroi-ergo-dapp-connector/chifollcalpmjdiokipacefnpmbgjnle
https://chrome.google.com/webstore/detail/yoroi-nightly/poonlenmfdfbjfeeballhiibknlknepo
![image](https://user-images.githubusercontent.com/26635501/12

[2021-07-09 03:51] JohnGiz commented on #2161
I have the same problem.  Did you manage to solve it?

[2021-07-10 11:42] JohnGiz commented on #2161
Ok, got it!  You have to press on the NanoS or NanoX in the pop-up window.  Then press Confirm.  Don't understand why they changed this from the way it was before?

[2021-07-11 19:49] zuzunker commented on #2225
Yoroi nightly `4.5.7002` is available now, the issue should be solved there

[2021-07-11 19:49] #2225 closed, assigned to zuzunker

[2021-07-11 19:59] zuzunker commented on #2212
@yushih , the main "My Wallets" page - let's look into the options to move wallets around on that page, maybe in two steps:
- Version 1: there are something like arrow buttons on each row so user can click to move up or move down on the list
- Version 2: rows might be draggable, with that special icon on the side that you can "grab" with the cursor to move the row around.

The wallets in the drop-

[2021-07-11 20:47] zuzunker commented on #2177
Hi! Sorry for a late response. Any request like that is a weird case tp handle, because I am sure technically that would not be that big of a problem if really needed, but then there are two main points to consider:
1. What is the demand for a feature like that? Since we have to think about the priorities
2. I'd be really anxious about adding any kind of functionality that might excessively compli

[2021-07-11 20:59] zuzunker commented on #2164
@Straightpool , thank you for the extremely detailed description and the reproduction instruction! 👍

[2021-07-11 21:05] zuzunker commented on #2161
Seems like a change on the Ledger side as I think we have not made any changes to any of the bridge UX for a while now. Will look if there's anything we can do to upgrade or improve 👍

[2021-07-11 21:05] #2161 closed, assigned to zuzunker

[2021-07-11 21:06] zuzunker commented on #2159
Will be handled in https://github.com/Emurgo/yoroi-frontend/issues/2164

[2021-07-11 21:06] #2159 closed, assigned to nobody

[2021-07-11 21:10] zuzunker commented on #2157
There are now nighly versions available: Yoroi = `4.5.7002` and dapp-connector = `0.4.0`. Please confirm if the issue is still present there, or this might be closed?

[2021-07-11 21:15] zuzunker commented on #2155
The implementation for the Cardano connector has already started, you can look out for PRs like https://github.com/Emurgo/yoroi-frontend/pull/2213 and https://github.com/Emurgo/yoroi-frontend/pull/2224 , marked with the [`dapp-connector`](https://github.com/Emurgo/yoroi-frontend/labels/dapp-connector) label, even tho they are not always related to the new cardano implementation, of course, but som

[2021-07-11 21:15] #2155 closed, assigned to nobody

[2021-07-11 21:17] zuzunker commented on #2118
Confirm plz if you still have this issue and if after restoring on a different browser or computer you see a rejected transaction in the wallet history right away?

[2021-07-11 21:19] zuzunker commented on #2117
Check please in the latest available version 4.5.7

[2021-07-11 21:20] zuzunker commented on #2116
Check please in the latest available version 4.5.7

[2021-07-11 21:21] zuzunker commented on #2115
Can you please double-check this in the latest available version 4.5.7 or higher and confirm if the issue still exists or this can be closed?

[2021-07-12 08:34] yushih commented on #2211
Fix is at the `yoroi-extension-ledger-connect-vnext` repo.

[2021-07-12 08:34] #2211 closed, assigned to yushih

[2021-07-13 23:42] hodlonaut opened #2231 "Yoroi Nightly crash on loading wallet"
MacOS 11.4, Chrome 91.0.4427

Log file attached
[yoroiNightlyCrash.log](https://github.com/Emurgo/yoroi-frontend/files/6812552/yoroiNightlyCrash.log)

[2021-07-14 00:02] rooooooooob commented on #2209
Sorry for the delay in getting this fix in. I had the actual fix ready last week since it wasn't anything big, but then I ran into a bunch of issues testing it that were unrelated to this issue. The PR is up now to fix this though #2232

[2021-07-14 22:51] #2209 closed, assigned to rooooooooob

[2021-07-15 08:44] mailman451 commented on #2177
Hi, and thanks for the response!

I already had that **slight** feeling that this isn't a feature requested by a lot of people 😉. Although I (probably naïvely) think that implementing an additional mnemonic password shouldn't be too much of a hassle, I would agree that it definitely creates a potential for confusion as mnemonic passwords do exist out there, but are rarely used on any wallet applic

[2021-07-15 10:46] zuzunker commented on #2231
Thank you, @hodlonaut! Was this with the nightly version `4.5.7002`?

[2021-07-15 10:59] zuzunker commented on #2095
Hi, @march08 ! Yes, we have the Edge version in the process of being updated right at the moment, we had to sort out some Microsoft issues first, so the version there got a bit out of date, but the latest 4.5.7 is currently being reviewed by their store. Unfortunately MS says they will have the review results "in 7 business days" (not even "**within** 7 business days") after the submit, and we hav

[2021-07-15 11:32] deadit commented on #2209
@rooooooooob when you release new version? I still have this problem on latest versions

[2021-07-15 15:13] besiwims opened #2235 "Inconsistent fees charged for transferring same amount of ADA within the same wallet yoroi"
Good day

I have made 4 transactions send 10ADA to 4 different yoroi wallet addresses from a yoroi wallet address. One of these transaction charged fees almost 5x than the other 3 which had the same fees. Do not mind that the amount transferred is small. See the 4 transactions below:

1. fee is 0.16. 10ADA transferred.

https://cardanoscan.io/transaction/5181a607ed45f3c1f907e1d964d90111dd7127384f8

[2021-07-16 01:30] hodlonaut commented on #2231
Yep that's right, 4.5.7002.

[2021-07-16 09:44] yushih commented on #2231
Hi, @hodlonaut ! Thank you very much for reporting the issue. Do you mean the Chrome tab has crashed? And the log file is the Chrome debug log (https://support.google.com/chrome/a/answer/6271282)?

[2021-07-16 10:04] zuzunker commented on #2097
There's a new release being prepared now for version 4.6 , once this version will be available - please try it out again, because  it contains multiple Ergo-related fixes and improvements

[2021-07-16 10:09] zuzunker commented on #2177
Ah, but that's the point, what I'm saying is that I would totally agree to implement the mnemonic password feature, but only if we have it in the "Claim / Transfer" section, and not in the main "Restore Wallet" screen, because the "Claim / Transfer" section is specifically designed for various rare different wallet cases, while the main "Restore Wallet" screen prefferrably should be as simple and

[2021-07-16 10:49] zuzunker commented on #2209
@deadit , the new version is expected probably around the beginning of the next week. Let me now create a new nightly which includes the fix and notify you here, when it's available.

[2021-07-16 10:53] zuzunker commented on #2235
Hello, @besiwims! Thank you for your detailed report, the provided details help very much and allowed us to identify the problem very quickly!

I am sorry for the situation, we can see now that this difference in fees has indeed been caused by the UTxO-selection rules. The rules always so far have been such that if the wallet finds a UTxO that covers the sending amount and the fees (in this case t

[2021-07-16 13:54] hodlonaut commented on #2231
Yes, the extension crashed (over and over and over, presumably can't cope with my testnet wallet) and I was presented with an option to reload it and not much in the way of 'see details of the crash', so I launched Chrome browser with debug log command line parameter and grabbed the information from that file that might or might not be useful.

[2021-07-16 13:59] besiwims commented on #2235
Great. That's what I love about Cardano.

[2021-07-16 15:10] vsubhuman commented on #2164
Smash issues reported to IOHK: https://github.com/input-output-hk/smash/issues/175

[2021-07-16 15:12] zuzunker commented on #2095
@march08 , the new version `4.5.7` is now available in Edge now! Plz update, check, and let us know if the issue still exists: https://twitter.com/YoroiWallet/status/1416051227025022977

[2021-07-16 23:34] zuzunker commented on #2209
@deadit , nightly version 4.5.7003 is available now

[2021-07-17 13:22] Kirill-Johnson opened #2239 "Typos in Complexity Level Form. + Language locales"
1.

I would change to:

2.

Change to:

3.

No one says "knowledge in blockchain" instead of "knowledge of blockchain", also not sure why "Blockchain" was capitalized here if you are referring to the concept in general.

Preferably I'd use "who" when referring to people, although "that" is not incorrect either.

4.

Would really sound better this way:

Frankly, I would rewrite some of the messages

[2021-07-18 11:48] amirseni opened #2240 "[Feature Request] Yoroi Desktop Extension - Import wallet from Public Key"
Is there the possibility of the desktop browser extensions to only use the public key?

The Yoroi mobile allows to import the public key from the desktop extension effectively turning it into a watching wallet.

Can the option be added to Yoroi Desktop extensions or the option to selectively delete the private key or just import the public key.

This would be a feature in which to monitor the wall

[2021-07-19 03:26] yushih commented on #2231
@hodlonaut  sorry for what has happened and thank you very much for reporting the problem. However, the Chrome debug log didn't provide much insight into what Yoroi was doing that could cause Chrome to crash. I'm no expert in debugging Chrome but I'll keep an eye on the issue. Currently, I hope a newer version of Chrome would fix this. If you need to operate your wallet now, could you please try Y

[2021-07-19 09:07] zuzunker commented on #2239
Thank you, @Kirill-Johnson! 🙌  We will take care of those!

[2021-07-19 13:02] cvetelinandreevdreamix commented on #2155
Hey @vsubhuman,

We have an existing iOS app which we want to integrate with a Cardano wallet. Basically we want to open a wallet app to sign a transaction we've prepared in advance. We'll use a testnet initially.

Is that possible now?

Will be there nightly builds for the iOS app we can test?

 Thank you!

[2021-07-20 08:47] #2239 closed, assigned to neuodev

[2021-07-20 12:38] hodlonaut commented on #2231
Hi, what's the link for the Yoroi Nightly download/installation page for Firefox?

[2021-07-20 13:04] roadrunr opened #2247 "Cant verify address with Ledger Nano S"
I am trying to move ADA from Yoroi account - I get following message everytime:

_**Connection Error
An error occurred while trying to connect with your hardware wallet. Please, make sure you are following the steps corretly. Restarting your hardware wallet may also fix the problem. Error: No addressing data, should never happen.
OK**_

I have updated the firmware on the Ledger Nano S and I have u

[2021-07-20 14:33] mailman451 commented on #2177
Ok, now I got it. This would be great.

I'll continue monitoring this issue and if it gets implemented I'll try it out.

[2021-07-20 16:57] Coolman916 opened #2249 "Can’t verify address with Ledger Nano X"
I’m using Yoroi wallet on iPhone and it’s the latest version 4.2.0. I can’t verify the receiving address on my Ledger Nano X. The error message says: no addressing data, should not happen. I have double checked my Bluetooth connection and I updated the Cardano app on ledger to 2.4.1. I also double checked that the ledger firmware is up to date 1.3.0. Yoroi wallet has worked with my Nano X perfectl

[2021-07-21 05:34] roadrunr commented on #2249
Same problem I am facing with Ledger Nano S - I am not using Bluetooth but a cable for connection.
It's really quite alarming to experience this connectivity failure and would be nice if someone was assigned to address these issues we are experiencing!

[2021-07-21 11:20] anon-real commented on #2157
@rooooooooob @vsubhuman No this issue is not resolved - it still crashes.

[2021-07-21 12:08] anon-real commented on #2157
I am also experiencing some other issues like "Uncaught (in promise) Error: [mobx] An invariant failed, however the error is obfuscated because this is a production build." when trying to connect to my wallet.
I have set up a test auction house so you can see the issues for yourselves: https://yoroi.ergoauctions.org/

You can produce all these issues (#2157 #2160 and the error above) by following

[2021-07-21 21:29] Clos88 commented on #2249
I have the same issue with my nano X . I have the latest software update for both. It will not  connect to verify address “no addressing data ,should not happen” . I have had no problems in the past but now I can’t verify my ledger. I have even removed my wallet, went to add wallet- connect to ledger nano. It recognizes my nano x and I am able to recover my wallet, however, when I go to verify add

[2021-07-22 00:43] rdlrt opened #2251 "[Feature Request] - status indicator endpoints , individually available for Extension and mobile"
With the recent increase in issues and given the nature of wallet , would be nice if we could have a basic API that could provide a status if there are any issues that will prevent balance to show up correctly or tx to be made (eg: on backend, not allowing transactions to pass). This will allow those supporting to actually raise issues that are not mixed up with ad-hoc scaling issues from ops - fo

[2021-07-23 03:13] yushih commented on #2231
We only publish nightly for Chrome.

[2021-07-23 08:38] zuzunker commented on #2247
Hi, @roadrunr! Clarify plz, are you using mobile (Android or iOS) and whether it's the latest version `4.2.0`?

[2021-07-23 09:07] zuzunker commented on #2251
Hi, @rdlrt! Since the etxnesion and the mobile apps are using the same remote backends so it's either working for everyone or not working for everyone , I am wondering if you mean to have separate endpoints where we could set like manual statuses that some known issue might be happening in a specific version of an extension or an app? 🤔

[2021-07-23 09:18] zuzunker commented on #2240
Thank you, @amirseni! This is a feature we would really like to add, just might take some time to get it into the priorities, so far cannot promise anything other than "within this year" scope, but we will try to push it up in case everything goes well with the Alonzo hardfork and top-priority things like that :)

I really like this point as well. I would very much like to implement different opti

[2021-07-23 09:24] amirseni commented on #2240
Thank you for taking the time to review this request.

Keenly expectant on its implementation.

[2021-07-23 09:30] zuzunker commented on #2249
Hi, @Clos88 and @roadrunr! I am sorry to hear you are experiencing such a problem! We are investigating this issue at the moment. We have started seeing some users having issues with their Ledger Nano models specifically, even tho we did not make any changes to the main hardware-wallet flow in the meantime. Some users have managed to get the issue resolved by getting the Cardano app updated in the

[2021-07-23 18:04] roadrunr commented on #2247
It's Android version 11

[2021-07-26 02:29] iamnido opened #2253 "Problem delegating to new stake pool using Ledger Nano X"
I have issue in delagating to a new stake pool using my wallet with ledger nano X. The hardware is ok as I can use it on other wallet such as metamask and ledger live. I can also send ADA from yoroi wallet but for verifying my receive address, I also get similar issue similar to this: #2249

Here is the error message when I try to confirm to delegate on new pool:
![image](https://user-images.githu

[2021-07-26 12:11] galaxy-nomad opened #2254 "Theming broken on macOS with Brave Browser"
I am unable to implement custom themes on macOS with Brave Browser. I can customize the theme using the "inspect element" F12 option but I cannot export my changes or import them. The export button in the settings page does nothing at all in macOS. There is nothing saved in local storage (I think this applies to the windows platform only?) Any help implementing custom themes for macOS is much appr

[2021-07-27 06:07] rdlrt commented on #2251
ah - that's interesting, in the past months - there were multiple occurrences where mobile users had an outage while users on extension were not impacted, and one of the times resolution mentioned on discord was that it was an issue with sync. On another occassion , the issue was identified to be one of the many nodes in backend that was out of sync and ops-team were aware.

Maybe I am cross-linki

[2021-07-27 13:26] hodlonaut commented on #2231
So given my issue occurred on testnet, I cannot 'please try Yoroi for Firefox' suggestion of yours :)
You're welcome to provide me with an email address that I can send the testnet mnemonic of this wallet to, so you can hopefully reproduce the crash in-house and hopefully fix?

[2021-07-28 12:27] yushih commented on #2231
Could you please encrypt your testnet mnemonic with my public key and post the cipher here? Please run this in cli:
[code]
(replace `<testnet mnemonic in question>` with the mnemonic)
and post the result here.
I will be able to decrypt your testnet mnemonic using my private key and debug.
Thanks.

[2021-07-28 22:43] JoeSuavo commented on #2097
I'm also having this exact issue, hopefully it will be fixed with 4.6 as I was also dumb enough to not save my seed phrase

[2021-07-28 23:49] zuzunker commented on #2157
Hi, @anon-real! Thank you for that great hosted resource and the instruction to reproduce the problems!

Regarding this first problem - I am now releasing a new nightly version of Yoroi 4.5.7005 - please update to that version and try it again, this should be fixed there. I have got connection to wallet working on your page with no problems with that fix.

To be able to reproduce other problems yo

[2021-07-29 05:25] SpeedRacer-7 commented on #2249
I’m having the same problem.

[2021-07-29 05:38] hodlonaut commented on #2231
EvPhCHMxYi/Gpvk05lc+Sr84Rz/0Z3VPxyy53iFAjYoU4WyrKC+oQhkQhOFxiis+
N68nfb68P71DNCoVHqv1+jDAV+U3RqJPzyCaoSRi4JQLWUUjHUAp0OdyoUqNGovp
B4+FSVVU+QGjykcuvBezbM0NqNtaQ5LgiyhWoGz4GBq+D1d4m1G4uvEsDPdWQWOZ
oh4cSRNuhClLYFAhGkJ4SxEc/Jlp5Am86azpzsOg+fHhzynH95bBKWKc4v1nZ6Q1
RNmmoCq3WKB5j++w0WpV3groJQq/vObjq9QQHq4AMHUOoFk1yUOQ5emPKyXEkvdx
py7yCQs13LjPZTiDWDZulg==

[2021-07-29 08:17] yushih commented on #2231
Thanks! Really appreciate your effort. I will investigate.

[2021-07-29 14:20] xptodevx opened #2258 "How do I connect to testnet?"
I can perfectly run on mainnet dev but I wanted to use it in the testnet.
I'm trying to run the Chrome extension by the way.

[2021-07-29 14:38] mmahut commented on #2258
You need to use the Yoroi nightly.

[2021-07-29 15:21] cheffNFT commented on #2258
sorry, I have no idea how to do that.
 i know that there's a file namely shelley-testnet.json but when I try to use it as
    "dev:nightly": "npm run dev:build -- --env 'shelley-testnet' --nightly",

I got some errors and plugin won't be loaded on chrome

`npm run dev:nightly

[Build manifest]
--------------------------------------------------------------------------------
File manifest.developmen

[2021-07-29 15:31] #2258 closed, assigned to nobody

[2021-07-29 20:28] TheoMer commented on #2249
I’m experiencing the very same issue.

‘An connection error occurred while trying to connect with your hardware wallet. Error: No addressing data, should never happen.’

Ledger Nano X firmware - 1.3.0
iPhone - 6s plus (ios 14.7.1).

Prior to the ledger firmware 1.3.0 update I was able to unstake (deregister), now I get an ‘undefined is not an object (evaluating ‘p.stake credentials’).

I mention t

[2021-07-29 21:38] Scapa1919 commented on #2249
Same issue here on iPhone XS, latest iOS. Cannot stake, send or authenticate a receive adress. Removing the Ledger Wallet and re-installing it works, though.

[2021-07-30 09:58] TheoMer commented on #2249
@Scapa1919

Can you explain the step by step process you used to re-install the wallet? Will selecting 'Connect to Ledger Nano' and going through the process create a new wallet with the outstanding ADA balance as held (referenced to) on my Ledger Nano X?

[2021-07-30 10:01] Scapa1919 commented on #2249
If I delete the Wallet on Yoroi and re-intsall it, the wallet appears with all funds in it, so no problem here. But when I try to send ADA, it apparently not receive the private key from the Nano X and hence cannot verify the transaction.

[2021-07-30 10:02] iamnido commented on #2249
@Scapa1919 ah. you mean, those step (removing Yoroi wallet and adding it again) works but not necessarily fix the issue. correct?

[2021-07-30 10:04] Scapa1919 commented on #2249
yes, right. Removing and re-installing works, but it does not solve the issue with the transaction verification through the Nano X

[2021-07-30 10:07] TheoMer commented on #2249
@Scapa1919 Ah. So I guess it's back to awaiting an Emurgo resolution on this issue. Thanks for the heads up.

[2021-07-30 10:08] Scapa1919 commented on #2249
no problem. I’ll just wait. Only annoying thing is that I cannot stake at the moment.

[2021-07-30 10:49] darbid opened #2261 "Color of pinned Extension icon in a Chrome/Edge Extension"
A very very small issue that you may or may not like to address one day is that when a person has a non default Chrome or Edge browser color, and has the icon pinned, then the Yoroi extension is hard to see.

Pretty sure the extensions API does not let you know what color the browser is so you would have to pick a color.  It is just blue is really popular.  Maybe adding a white circular background

[2021-07-30 23:54] ndmax commented on #296
Just finished setting up Yoroi, and was admittedly surprised that this information cannot be displayed (would have chosen a different wallet if I had known).  Is this a dead request or should I hold out for a future release?

[2021-08-02 08:16] EnricoSaunders opened #2286 "Yoroi Web UI does not show decimals for Native Tokens (Mobile UI does)"
After adding native token metadata with decimals to the registry (cardano-foundation/cardano-token-registry), the web (Chrome Extension) wallet does not show the decimals in the transaction or the send form. The amount field of the send form just removes the decimals as you try to type them.

**Expected behaviour:**
The Android Wallet UI has the correct behaviour where it shows the decimals in the

[2021-08-02 09:39] cyberfunk commented on #2254
Bump

[2021-08-04 11:44] zuzunker commented on #2235
@besiwims , this is now resolved in the just release extension version 4.6

[2021-08-04 11:44] #2235 closed, assigned to zuzunker

[2021-08-04 11:46] zuzunker commented on #2097
The version 4.6 is release and now available in Chome and Firefix, check please if it works for you after updating

[2021-08-04 11:55] zuzunker commented on #2231
@hodlonaut, the new extension version 4.6 is now release and available in Chrome and Firefox. Can you please double-check if the issue got resolved there?

[2021-08-04 17:20] MajorPain14 commented on #2249
I am also having this problem. I'm also not able to restore the hardware wallet on my desktop, it seems. I am getting a network error, but there is nothing wrong with my network.

[2021-08-04 20:56] AdVanceYourself commented on #2249
Just wanted to post that I submitted a case on the Telegram for a similar error being unable to perform transactions. The error was "invalid asset group in the token bundle in an output - incorrect ordering of tokens"
For anyone else that needs an alternative, adalite.io has been working without issue in the meantime.

[2021-08-05 08:38] ghost commented on #2249
I have the same issue here, using a fully updated Ledger Nano X on a Bluetooth connection.

[2021-08-06 00:05] hodlonaut commented on #2231
Hi Ruslan

I can confirm that the Yoroi Nightly no longer crashes in Chrome for my testnet wallet, thanks for addressing that.

However, it is also very sluggish / barely usable with regards to the 'Send' functionality, again potentially due to the way a large number of tokens in the wallet is handled - I constantly get 'Unresponsive' pop-ups from Chrome while in Send screen and trying to change w

[2021-08-06 10:40] zuzunker commented on #2231
Thank you for the feedback! We will try to work on improving the performance for the big number of tokens.

Nightly is only being posted on Chrome atm

[2021-08-06 10:40] #2231 closed, assigned to yushih

[2021-08-06 15:57] JoeSuavo commented on #2097
Still giving the same issue, I made sure to update in chrome to 4.6.0.

[2021-08-06 15:57] JoeSuavo commented on #2097
Still giving the same issue, I made sure to update in chrome to 4.6.0.

[2021-08-06 16:43] HeathFN opened #2298 "Yoroi wallet for ergo has not synched for over a month"
I have been having issues for over a month and have been unable to access my wallet since then. It never synchs. Tried all extensions, Different computers, Different networks, All versions including the latest 4.6.  Sometimes it crashes saying out of memory. Restored hundreds of times.  Nothing works.

[2021-08-07 14:16] acmukas commented on #2097
Hi, the problem still persists with new version 4.6

[2021-08-08 23:44] hodlonaut opened #2299 "No visual indicator for retiring pools in Yoroi"
Currently there is no visual or text indicator for a delegator that the pool they are looking at / delegating to in Yoroi is scheduled for retirement. Daedalus does have a little red indicator in top right corner of the stake pool list view currently - I think users should be alerted to the fact that the pool they are considering is very likely to disappear soon. Example pool - LEMON, search in Yo

[2021-08-09 07:23] acmukas commented on #2097
Okay so now i have the same problem with my second wallet. I use these wallets for mining at normally there apears couple of hundreds transactions in a week or so, and the more transactions there is in the wallet the slower it stars working untill i get this error code out of memory. Until this problem persist o gonna use different walltet.

[2021-08-10 05:44] hodlonaut commented on #2299
Furthermore, when using Yoroi Nightly the behaviour is even stranger - when the pool is scheduled for future retirement (e.g. in 5 epochs time), it starts showing up in Yoroi Nightly wallet as "UNKNOWN" (whether this is an issue with Adapools API integration or something else, I don't know) even though the pool is still alive and well and making blocks. Ideally there would be an indicator of some

[2021-08-11 07:27] EnricoSaunders commented on #2286
Closing as the chome extension works as expected now.
I see it was fixed in https://github.com/Emurgo/yoroi-frontend/releases/tag/4.6.0

[2021-08-11 07:27] #2286 closed, assigned to nobody

[2021-08-11 12:26] yushih commented on #2286
Thanks @EnricoSaunders !

[2021-08-11 19:40] glasgowm148 opened #2303 "[Bug] - Native Tokens on ERG"
Due to the DEX release, there are large quantities of native tokens being exchanged. Selecting these tokens in Yoroi causes the token selection drop-down to stop working. You can still send tokens - but only the one you've previously selected.

[2021-08-12 13:17] mmahut commented on #2298
Can you provide more details? What does it mean never syncs? If you restore your wallet, what do you see? Any output in the console log of your browser?

[2021-08-13 16:10] TheoMer commented on #2249
@vsubhuman Can we expect to see a resolution to this issue on/by the 12th September when the Alonzo hard fork takes place?

[2021-08-14 01:08] rdlrt commented on #2251
@vsubhuman - The issue occuring now (while I am writing this comment), where many users are not able to resync wallet/view tx/check balance - while the endpoints mentioned above are still showing correct status, are good examples. Feels like it could be that the endpoint is showing status from healthy nodes only perhaps, is it representative of what all users use?
Secondly, are the above status ch

[2021-08-14 03:18] reedjones opened #2309 "Chrome Extension "Error received from server while getting reward history.""
The total rewards, total delegated, reward history, and "account state" have not been loading for me in the extension...
They show these errors:
Error received from server while getting account state.
Error received from server while getting reward history.

[2021-08-14 03:19] #2309 closed

[2021-08-14 13:19] ghost opened #2310 "Biometric authentication not working in Android app"
I am unable to activate biometric authentication on my Cat S62 Pro smartphone (Android 10). The option is there, but it is greyed out and cannot be turned on. Biometric authentication works flawlessly for all my other apps that support it.

[2021-08-14 19:43] gulagz opened #2311 "Delegation not working"
I am using Yoroi with Ledger Nano-X, whenever I try to delegate it says "undefined is not an object (evaluating 'p.stake_credential')"

I would try to use yoroi on chrome but I don't know if I can sync my mobile wallet with yoroi chrome extension

Thanks.

[2021-08-16 16:18] dancaro1 commented on #2161
JohnGiz
I am still struggling with this issue it says (nano s - paired) but the loading icon continues to spin on the ledger continues to say waiting for command

[2021-08-16 16:33] JohnGiz commented on #2161
Yeah, I went through it again yesterday.  Don't know what the hell the problem is.  Very frustrating.  I must've tried 20 times, and then, somehow, I got it.  Then I did it for voting again, and I got it.  So, I tried to figure out what the trick is and tried to send a small am't to another wallet, I got stuck, and can't do it again.  I dread the day I when I have to cash some out and will not be

[2021-08-18 05:58] galaxy-nomad commented on #2254
Never-mind I found a workaround!😁

[2021-08-18 05:58] #2254 closed, assigned to nobody

[2021-08-18 06:03] galaxy-nomad opened #2312 "Can anybody help me theme these last two parts of Yoroi?"
Hi please see the attached image. I've scoured the code but can't find the values to change for these last two elements.
![Screen Shot 2021-08-17 at 10 57 57 PM](https://user-images.githubusercontent.com/12664589/129845976-4165c65f-3d67-4f33-93a0-01455984429b.png)

[2021-08-18 08:42] blackmennewstyle opened #2313 "GNU/Linux Debian 10 - Firefox ESR 78.13.0esr - ERGO wallet is very slow"
Hello,

I'm having issue with any ERGO wallet when using Yoroi on my web-browser Firefox ESR 78.13.0esr, it's very slow, basically impossible to use.
ADA wallets are all working perfectly fine, i can perform everything without a single issue (transactions, delegations, etc...) however the experience is really embarrassing when using a ERGO wallet, it's basically impossible to use.

[2021-08-18 15:48] galaxy-nomad commented on #2312
So basically I can fix the white boxes if the Yoroi developers will change the css from this:

`.UpcomingRewards_card {
    padding: 20px 20px;
    flex: 1;
    border-radius: 6px;
    background-color: #f8f8f8;
    min-width: 234px;
    max-width: 278px;
    margin-bottom: 10px;
}`

To this:

`.UpcomingRewards_card {
    padding: 20px 20px;
    flex: 1;
    border-radius: 6px;
    background-colo

[2021-08-18 15:51] galaxy-nomad commented on #2312
Regarding the graph bars I can't figure out how a custom color would be implemented within the framework of the existing code. Hopefully someone will see this and can help.

[2021-08-18 16:58] galaxy-nomad commented on #2312
I also need vars for the colors in these items

`.TransferTypeSelect_component .TransferTypeSelect_instructions span a {
    text-decoration: none;
    color: #3154CB;
}

.TransferTypeSelect_component .TransferTypeSelect_instructions span {
    color: #6B7384;
}

.TransferCards_heroCardsItem .TransferCards_heroCardsItemDate {
    color: #6B7384;
    font-size: 12px;
    line-height: 20px;
}

.Hori

[2021-08-21 16:59] anon-real commented on #2157
@vsubhuman Hey! Sorry for the delay, somehow I haven't received notifications!
I will update the page ASAP and get back to you.

[2021-08-21 22:39] JohnGiz commented on #2161
Ok, I finally got it to work, **for me**.  Here are the instructions:

SENDING ADA THROUGH LEGER NANO S:

1.  Write out the order, ie.  sending address, am't, etc.  Press Next.

2.  Send with Ledger.

3.  Nano S.   Continue.

4.  Pop out window.

5.  Connect Ledger.  Do the Pin.  Go to Cardano app.

6.  Pop out window will say Nano S is paired.

7.  Press both buttons on Ledger Nano S.  You get  "

[2021-08-22 11:34] anon-real commented on #2157
@vsubhuman https://yoroi.ergoauctions.org/ is updated!
Now it gets to where the user enters his password, but `sign_tx` seems to do nothing.
For reference: https://github.com/anon-real/ErgoAuctionHouse/blob/yoroi/src/auction/bidYoroi.js#L156

[2021-08-23 07:48] roadrunr commented on #2247
Dear vsubhuman - are you making any progress towards a resolution - at the moment all my Cardano assets are effectively "frozen" and would be nice to be able to interact with our wallets again. An update might be appreciated as I think that I am not the only one in this situation?

[2021-08-23 11:11] juraskrlec commented on #2249
Is there any status on this? The workaround is to use Chrome extension, which is working fine but still having issues on iOS. Using Ledger 1.3.0 and Cardano 2.4.1

[2021-08-23 11:12] juraskrlec commented on #296
Any update on this?

[2021-08-24 13:12] behzadmesri commented on #1832
I have this problem. what should I do ? please help me . I can not do Withdraw with the Yoroi Mobile app, no with the Chrome extension in Bravo .

[2021-08-24 13:12] behzadmesri opened #2320 "I have this problem. what should I do ? please help me . I can not do Withdraw with the Yoroi Mobile app, no with the Chrome extension in Bravo ."
I have this problem. what should I do ? please help me . I can not do Withdraw with the Yoroi Mobile app, no with the Chrome extension in Bravo .

_Originally posted by @behzadmesri in https://github.com/Emurgo/yoroi-frontend/issues/1832#issuecomment-904629403_

[2021-08-24 22:33] HeathFN commented on #2298
@mmahut Issues are still ongoing, When you restore the wallet it says "Never synched" and no transactions ever show up it just keeps loading till the extension will crashes and says "Out of memory" Note this happens in all browsers. So far i am betting that after you pass a certain amount of transactions the wallet starts getting slower and slower till you reach a point it becomes unusable.
This h

[2021-08-29 14:11] kajirashad opened #2324 "Incorrect Calculated Value In Delegation [ Commas Instead Of Decimal ]"
I am using the **Ledger Hardware Wallet Nano X**. In my wallet, I have `83 ADA`. I am using the web browser Yoroi Extension. When I try to delegate to a specific pool, the `Amount` value is calculated **incorrectly**.

For example,

ADA = 83
Fee = 2.174257
Correct Delta = 83 - 2.174257 = `80.825743`     **(**   The calculated value on the UI is `80,825,743`   **)**

![Cannot Change Val](https://us

[2021-08-29 14:17] kajirashad commented on #2324
< Additional Test >

I created a paper wallet using a different Google profile. I sent 10 ADA to this wallet. Delegation works as intended on this paper wallet ( i.e., the calculation is done correctly ).

^ I initially included this comment, but deleted it. I deleted it because the UI also shows commas instead of decimal. However, I was able to delegate it . . .

[2021-08-29 14:22] kajirashad commented on #2324
`fyi:` This is what I am facing when I try to delegate using my Ledger Nano X hardware wallet:

![Screen Shot 2021-08-29 at 10 21 37](https://user-images.githubusercontent.com/79031874/131253700-aa658eff-8205-4813-bd64-d894fef2f646.png)

[2021-08-29 16:48] kaskjabhdlf opened #2325 "Staking Center gives little information about pool parameters"
The 'Staking Center' is responsible for deciding where a considerable amount of stake gets delegated. In it's current form, it pretty much makes the decision for the delegate, by showing pools in an order curated by just one person (at times this person hand selects the top pool). This goes against the goal of decentralization and gives little useful information to uneducated delegates. A rational

[2021-09-02 08:19] campbellbartlett opened #2362 "Error: Request failed with status code 500"
Hi,
I'm using the Yoroi nightly chrome extension with Ergo as well as the DApp connector (nightly version).

I transferred some ERG to sigRSV via the Ergodex - everything worked fine. After a few minutes the transaction showed up in my Yoroi wallet correctly.

Next, I tried depositing some sigRSV and ERG into the Ergodex. This worked (I can see the transactions in the block chain explorer) but now

[2021-09-02 13:33] o1lo01ol1o opened #2364 "cardano dapp-connector status"
Hi, sorry for the noise, but I can't find a good overview of the current state of the cardano dapp-connector.  Is it currently supported in any public releases?  Is there a known roadmap if not?

[2021-09-02 21:41] zopsicle opened #2365 "web+cardano URI with no amount is not accepted"
[CIP 13] permits web+cardano URIs that specify only an address and no amount. But the Yoroi web extension does not seem to support them. It only works if a non-zero amount is specified, such as `?amount=5.0`.

This only seems to be an issue in the web extension. The iOS app does accept web+cardano URIs (albeit in QR code form) that specify no amount.

# Expected behavior

When visiting a URI such

[2021-09-03 02:09] rzel opened #2366 "Error received from server while getting reward history. Error received from server while getting account state."
Two errors are preventing me from viewing incoming funds received and viewing staking rewards.

**Error received from server while getting reward history.
Error received from server while getting account state.**

Please help.

Rob

[2021-09-03 22:51] campbellbartlett commented on #2362
Looking into this a bit further, the request that is returning the 500 status is a post request to `https://ergo-backend.yoroiwallet.com/api/v2/txs/history`.
The response from the request is:
`{"error":"REFERENCE_BLOCK_MISMATCH"}`

[2021-09-04 10:37] campbellbartlett commented on #2362
This seems to have resolved itself once my wallet received another transaction.

For anyone else seeing this error in the future, try sending something to the wallet and re-syncing.

[2021-09-04 10:37] #2362 closed, assigned to nobody

[2021-09-06 15:58] Rogerio570 opened #2372 "Erro captografia"
Boa tarde
M[]() e engatei com minhas ADAs na wallet yoroi, não consigo colocar no stake nem sacar, detalhe, eu fiz com pouco antes coloquei e saquei deu tudo certo.
Agora aparece essa msg👇☝️
Eu não tenho hardware wallet.
Qual compro pra tentar resolver essa situação?
Qual site é seguro?

![Screenshot_20210906-083627](https://user-images.githubusercontent.com/90207702/132241987-66fbaf4a-6ed0-4c72-9

[2021-09-06 15:59] Rogerio570 commented on #2372
Eu recuperei a wallet em outro aparelho com a chave semente mas não apareceu minhas adas

[2021-09-08 05:44] yikerman opened #2377 "[Feature request] Safari extension support"
Apple introduced [Safari extensions](https://developer.apple.com/safari/extensions/) in the next update. Are there any plans to support it?

[2021-09-08 11:48] zuzunker commented on #2377
Hi, @xiaoyu2006! We are certainly up to try it out if the conversion will work out fine, which we are yet to try. RIght now the top priority is the Alonzo hard-fork, but after that probably somewhere closer to the next month we would be able to look into it. It would be nice to have this, but at the moment it's not a priority milestone

[2021-09-08 13:06] yikerman commented on #2377
OK I'll reserve this issue here. ;-)

[2021-09-09 18:26] nkishi opened #2380 "Recovery phrase verification cannot proceed when a word is repeated"
I was unable to verify the recovery phrase due to a word it contained twice. The repeated word appeared twice in the list of words to order, however, both instances of the word disappeared from the pick list at the first selection attempt, blocking the verification process.

[2021-09-09 18:32] zuzunker commented on #2380
Hi @nkishi! Thank you for the report! Was this in the browser extension or in the mobile app?

[2021-09-09 19:18] nkishi commented on #2380
The Android mobile app (4.3.0). Please ignore, I should have checked the [yoroi-mobile issues](https://github.com/Emurgo/yoroi-mobile/issues/1566) .

[2021-09-09 20:36] zuzunker commented on #2380
No problem, thank you for reporting! We'll try to get this fixed in the nearest update. Meanwhile the workaround would be to restart the wallet creation from step one yo get new words and make sure they don't have duplicates. Really sorry for this inconvenience

[2021-09-10 20:52] zuzunker commented on #2212
This is being added in the ongoing redesign

[2021-09-10 20:53] zuzunker commented on #2164
Still blocked by the smash issue

[2021-09-10 20:55] zuzunker commented on #2097
In the next version we will try to make priority for the performance issues specifically

[2021-09-10 21:57] sirfixalock opened #2383 "Yoroi Wallet Withdrawal"
Unable to withdraw from Yoroi Wallet.
Get decryption error message.
Anyone else having this problem?

[2021-09-11 10:39] ctliang opened #2384 "Transactions flash between "failed" and "high" after using dapp connector with ergodex beta"
Hi there,

I'm not sure if it's been reported yet.

I'm using
. Yoroi Nightly 4.6.201 and
. Yoroi-Ergo dApp Connector Nightly 0.6.1

and tried out the ergodex beta.

After successfully doing a swap the status of all transactions on yoroi are flashing between a red "failed" and the usual green "high" - for a short millisecond it also shows the "low" in the transition from "High" to "failed".

If th

[2021-09-14 20:16] rooooooooob commented on #2364
You can use it currently in the nightly builds. You will need to also download the yoroi-ergo-connector extension to use it as they work in tandem (Yoroi responds to requests from the connector, and the connector handles code injection and page to Yoroi RPCs). The underlying [EIP-0012 spec](https://github.com/ergoplatform/eips/pull/23) has still not yet been finalized although it has been pretty s

[2021-09-17 11:37] anon-real opened #2397 "indefinite loader when issuing tokens on Ergo using the dapp connector"
I am using Yoroi-nighty 4.7.200 and dapp connector 0.7.0.
When trying to issue tokens, an indefinite loader appears and I get the following error in the console:
[code]
<img width="1440" alt="ind" src="https://user-images.githubusercontent.com/68861503/133776276-7a956557-6150-40e6-95a9-d0673e8ebd0a.png">

cc @rooooooooob @vsubhuman

[2021-09-17 11:40] zuzunker commented on #2397
Hi! Nightly 4.7.201 is being pushed right now. This should be resolved there. Plz check for this version in some time and recheck the issue

[2021-09-17 12:07] anon-real commented on #2397
Great, fixed!

[2021-09-17 12:07] #2397 closed, assigned to zuzunker

[2021-09-19 20:58] dideldei opened #2399 "No issue adresses the ongoing issue"
No issue in all of Emurgo's repos, adresses the fact, that most users of the Yorot Wallett experience serious problems since the Alonzo fork. That's an issue that should be fixed. And if you don't understand this issue, your product is screwed.

[2021-09-21 18:56] TheoMer commented on #2249
Any idea when this issue is going to be resolved?

[2021-09-25 10:43] nepsterwashere opened #2413 "UpcomingRewards component background-color not styleable"
**Abstract:**

It is not possible to change the UpcomingRewards component background color.

**Background:**

The UpcomingRewards component has a css class called .card from which it inherits its background color.
The background color is set to a static value of #f8f8f8.

**Motivation:**

I'm currently building Yoroi themes for personal use.

**Proposal:**

It would be great to have a css variable

[2021-09-25 19:13] efegure opened #2414 "Cannot calculate fee when trying to send ADA"
![image](https://user-images.githubusercontent.com/15102957/134783589-90ea04b4-762d-4f0d-830c-4ca719136993.png)

Logs:

`[INFO] Yoroi v.4.7.300
[INFO] Commit: ef65039efb16a0eb881d3a9a160bf40f258cc0f6
[INFO] Network: mainnet
[INFO] User Agent: { ua: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36',
  browser: { name: 'Chrome', vers

[2021-09-25 21:47] zuzunker commented on #2414
Most probably should be fixed by this: https://github.com/Emurgo/cardano-serialization-lib/pull/206

The change is already merged there so need to publish it and release new version of Yoroi.

[2021-09-25 23:28] zuzunker commented on #2414
Hi, @efegure! Thank you for the detailed report and the logs, this is extremely helpful! 🙌

New extension version `4.7.310` is published now. Once you get your installed version updated, whenever possible, test it out again, please.

[2021-09-26 18:39] nepsterwashere opened #2416 "[Feature request] Yoroi dark theme"
### Abstract

I'd like to see a default dark theme for the Yoroi browser wallet.

### Motivation & Background

I think that many people including me would love to see a dark theme. A lot of applications that are build these days have both, a light and a dark theme. I've already build a theme utilising the CSS variables and posted it on the [Cardano subreddit](https://www.reddit.com/r/cardano/comme

[2021-09-27 03:13] CardanoBeliever777 commented on #2416
Just gave up trying to find Dark Theme.   Good call: go on guys, give the guy a job or give us the Dark Screen.   Thanks

[2021-09-27 05:40] dylansweb2021 commented on #2249
Verify address works perfectly with Ledger when I use the Yoroi chrome extension but installed in the Brave Browser.
In the Yoroi Android app, and in the Firefox extension, I get the "Connection" error when I try to verify my receive address on the Ledger device.

Using the chrome Yoroi extension installed in Brave was the first time verifying an address on my Ledger device worked.
However, when I

[2021-09-27 15:53] #2399 closed, assigned to nobody

[2021-09-27 16:17] dideldei opened #2419 "[Feature Request] Reestablish or make optional: Block of reward display."
I consider the reward display very helpful and motivating. Please reestablish it or let it be enabled or disabled.

[2021-09-27 19:51] mpdelbuono opened #2421 "Edge is out of date"
I'm not sure why as Edge can load Chrome extensions, but the Edge store version is currently 4.7.200 (two versions behind the current release for both Firefox and Chrome, which is on 4.7.400).

Please release to Edge store in addition to Chrome store, as users who have installed from Edge store will not get updated unless it is released on Edge store.

[2021-09-28 06:29] maxcleme commented on #2419
IMO looks like it will be temporary since it has been toggled off instead of pure code deletion

https://github.com/Emurgo/yoroi-frontend/commit/d84416aa8db4291f76b090079e98030f2cd62b3b

[2021-09-29 00:44] jmhoms opened #2423 "Invalid cbor: expected tuple 'hash length' of length 28 but got length Len(29)"
Hi,

I'm having problems to restore a particular Shelley standard wallet in Yoroi, and I think it may be because of a bug. I tried to restore the same wallet using clean Firefox and Chromium installations with the same result, Yoroi keeps trying to sync forever. Please note that I'm able to import other Shelley standard wallets without a problem in these same browsers/Yoroi. Also be aware that I s

[2021-09-29 14:16] zuzunker commented on #2421
Hi, @mpdelbuono! Edge release time takes few days from the moment the new version is submitted, while for Chrome and FF it takes 5-15 minutes. The version 4.7.400 have been submitted to Edge at the same moment with other stores, but it is still in review and Microsoft even writes **"Expect to hear back from us in 7 business days"**, so not even **within** 7 business days. The version 4.7.300 actua

[2021-09-29 14:16] #2421 closed, assigned to nobody

[2021-09-29 15:14] zuzunker commented on #2419
Hi! Yes, sorry for this, we had to temporarily disable the historical data display as we are still experiencing 3rd-party complications for correct chain data reading since the Alonzo update. The immediate rewards information, available for withdrawal have been corrected, but we had to sacrifice the historical data for now. It was a quick decision without proper UI replacement, we are planning to

[2021-09-29 15:14] #2419 closed, assigned to nobody

[2021-09-29 15:19] zuzunker commented on #2414
Considered to be resolved unless @efegure can confirm if the issue is still reproducible

[2021-10-01 12:24] zuzunker commented on #2384
Thank you for the report and the details, @ctliang ! We will look into it, might be caused by either Yoroi or the backend to drop from the correct chain tip temporarily for some reason 🤔

There are connector version `0.7.0` and Yoroi nightly version 4.7.401 available now, can you plz double check if you are observing the same problem there, just to be safe?

[2021-10-01 16:10] coreyar commented on #45
Is this issue still relevant? The input label and placeholder now reads "Spending password" which is clearer than the previous label.

[2021-10-04 09:56] #2414 closed, assigned to zuzunker

[2021-10-04 23:37] rdlrt opened #2444 "Possibility to elect alternate backend URL in UI?"
Has there been consideration to allow users to elect alternative backend from wallet UI itself?
Currently, `iohk-mainnet.yoroiwallet.com` is hard-coded in `networks.js` - is there any interest/plans to allow that to be perhaps an electable field in settings in Yoroi UI to use alternate instances of yoroi-graphql-migration-backend?

(PS: This is not for myself, as I can run modified codebase - but

[2021-10-05 07:47] shinsuny commented on #45
@coreyar
Yes, its cleaner now.
Good to close.

[2021-10-05 07:47] #45 closed

[2021-10-06 16:27] sergeyrar commented on #2161
Didn't work for me.
I did steps 1-9.
After step 9, window simply got closed.

[2021-10-06 16:35] sergeyrar commented on #2101
Can't send ADA(with Ledger Nano S)
Using Yoroi chrome extension.

Yoroi wallet version-
Network: mainnet

Current version: 4.7.400
Commit: 64ae9837afe3347f8ae7d7af0b8ec98d03e2a1c2

[2021-10-06 16:55] JohnGiz commented on #2161
Sorry to hear, man!  It did work for some people.
    On Wednesday, October 6, 2021, 12:27:31 p.m. EDT, sergey ***@***.***> wrote:

Ok, I finally got it to work, for me. Here are the instructions:

SENDING ADA THROUGH LEGER NANO S:

   - Write out the order, ie. sending address, am't, etc. Press Next.
   - Send with Ledger.
   - Nano S. Continue.
   - Pop out window.
   - Connect Ledger. Do the Pi

[2021-10-07 09:48] benapetr opened #2448 "extension completely broken for HW wallets (ledger) - indefinite syncing due to GenericApiError"
Hello,

I had a working Yoroi in firefox that was connected to my ledger nano S, that suddenly stopped syncing. I tried deleting it and adding again, I tried using different browsers, and even completely different computers that never had Yoroi installed.

It just doesn't seem to work anymore, I just see spinning wheels.

These are logs:

[code]

[2021-10-07 09:51] benapetr commented on #2423
I am having similar issues in https://github.com/Emurgo/yoroi-frontend/issues/2448

[2021-10-07 14:36] sergeyrar commented on #2161
Issue resolved.

What I had to do was to update Cardano software on my Ledger.
I did this via Ledger Live -> Manager

[2021-10-07 14:50] JohnGiz commented on #2161
Oh, great!  I just did a transfer also.  I used the same steps that I outlined above and it worked. For some reason I can't do it with my Nano X.  Anyway, Sergey, glad you got it to work!!!
    On Thursday, October 7, 2021, 10:36:23 a.m. EDT, sergey ***@***.***> wrote:

Issue resolved.

What I had to do was to update Cardano software on my Ledger.
I did this via Ledger Live -> Manager

—
You are r

[2021-10-08 18:10] jmhoms opened #2449 "Duplicated keywords when creating a new wallet in Yoroi"
I was given two duplicated keywords when trying to create a new wallet using Yoroi from an IOS phone the other day, "trash" and "company". I guess this shouldn't be possible, and in fact the UI don't let you move forward with the verification, as the words to drag appear only once. Please see attached picture. Cheers.

![yoroi_duplicated_words](https://user-images.githubusercontent.com/10829090/13

[2021-10-09 14:14] mcrio opened #2450 "Rewards withdraw displays the fee amount in "Amount" column"
After withdrawing rewards the "Amount" column in Transactions tab does not show withdrawn amount, but instead shows the fee.

**Steps:**

1. Withdraw rewards
2. Open transactions tab
3. Withdrawn rewards: 50ADA  Fee: 0.1715ADA

**Expected:**

"Amount" column to show "+50ADA"
"Fee" column to show "0.1715ADA"

**Actual:**

"Amount" column shows **"-0.1715ADA"**
"Fee" column shows "0.1715ADA"

**Abou

[2021-10-14 07:37] goriunov opened #2453 "Export transaction CSV with transaction id"
Hello,

I have noticed that csv transactions exported to the csv file for tax purposes do not include transaction id. Is there any plan to add it ? Or may be there are any reason not to add it ?

[2021-10-16 12:14] silaslang opened #2457 "Not enough funds to make this transaction error"
I am having major issues trying to move ada . In a wallet with 8 ada I try to send 5 to another wallet and it says Not enough funds to make this transaction'.

It happens in other wallets aswell with varying amounts of ada, one has 124 ada and lots of NFTS and I cant send ada out the wallet.

Anyway to resolve this?

[2021-10-16 13:19] kaskjabhdlf opened #2458 "Yoroi ranking can be bought - adapools is corrupt"
Ranking on adapools.org and Yoroi is for sale. You can pay the owner of adapools to get a better rank in Yoroi. This has always been suspected, but is now confirmed by the owner of adapools themselves. See their twitter and telegram channel. You can buy about 10 positions higher in rank by subscribing to a monthly membership.

Yoroi should consider dropping their adapools partnership for a system

[2021-10-16 14:02] zuzunker commented on #2457
Hi, @silaslang ! How many different token types or NFTs you have in the wallet with 8 ADA?

Are you using the browser version? Check the "Locked assets deposit" value under the wallet balance in the topbar.

See this document for reference: https://github.com/Emurgo/yoroi-frontend/blob/develop/docs/readme/cardano-token-deposit-explained.md

[2021-10-17 21:15] zuzunker commented on #2453
Hi, @goriunov! Yeah, we really were kinda also looking that we probably need to add it. Even more reason to do so now that we have this issue opened 👍

[2021-10-17 21:25] zuzunker commented on #2453
We gonna make it optional though, as, if I recall correctly, privacy was the main reasoning to not add them by default. E.g. you might want to have a report of all your TXs up to this point, but sharing tx IDs techncially allows the receiver to know and track your entire address set used up to this point and to find out all the UTxOs you have at that moment.

[2021-10-18 01:53] goriunov commented on #2453
Agree this could be as optional parameter, the reason why i thought it could be important at least for some people (including myself) is to be compliant with tax rules (at least in nz) and keeping track of all the transactions for potential auditing. :)

[2021-10-19 15:32] savvyrobert opened #2461 "Wallet will not Sync for Ergo"
![image](https://user-images.githubusercontent.com/50861819/137943340-ff02dc8d-1bb9-45a3-9f79-eaa05aad8b58.png)

There seems to be a type or something to do with "P" that is messing up the request to the API.

Please Advise.

[2021-10-19 17:06] benapetr commented on #2423
it seems this is a problem every time I try to import my HARDWARE wallet - software wallet I imported in the past works just fine. It's Ledger S, which doesn't seem to work. It did work in the past but suddenly, probably since some Yoroi update it stopped.

[2021-10-19 20:59] wirefreethought commented on #2448
I have the same issue on Mac OSX, regardless of the browser. See my post in the forums:

https://forum.cardano.org/t/yoroi-blank-page-after-alonzo-upgrade/78978

[2021-10-19 21:17] zuzunker commented on #2461
Hi, @savvyrobert! Please double-check if the issue is still reproducing at the moment, there has been some investigation and fixing done in collaboration with the Ergo foundation, I think it is ought to be resolved some time ago now.

[2021-10-19 21:32] savvyrobert commented on #2461
@vsubhuman unfortunately the same error is occurring. Was even able to preproduce on another computer that has never had yoroi before.  Here is another message if it helps explain (a rollback).
![image](https://user-images.githubusercontent.com/50861819/137993749-a9d8a332-8f6f-4ad4-8dd0-291ec700e918.png)

[2021-10-19 23:40] arobsn commented on #2461
@savvyrobert are you a miner? We are investigating this issue and the mining dust may be causing this.

[2021-10-20 01:27] savvyrobert commented on #2461
@anon-br yes, any advice on what I should do in the interim?

[2021-10-20 01:58] killke commented on #2461
[2021-10-20T10:55:25+09:00] RemoteFetcher::getTransactionsHistoryForAddresses error: {
  "stack": "Error: Request failed with status code 400
    at t.exports (chrome-extension://ffnbelfdoeiohenkjibnmadjiehjhajb/js/46.bundle.js:2:31769)
    at t.exports (chrome-extension://ffnbelfdoeiohenkjibnmadjiehjhajb/js/46.bundle.js:2:34171)
    at XMLHttpRequest.d.onreadystatechange (chrome-extension://ffnbe

[2021-10-20 08:35] benapetr commented on #2448
I am also using MacOS

[2021-10-20 12:42] zuzunker commented on #2461
@savvyrobert @killke , it will be really great if you could provide the HAR file with network logs so we could see which calls exactly cause the problem and be able to debug the issue between the Yoroi backend and the Ergo explorer providing the data.

Here is an instruction on how the file can be saved in Chrome: https://support.google.com/admanager/answer/10358597?hl=en

**NOTE:**
1. No secret p

[2021-10-20 13:36] zuzunker commented on #2457
Closing in assumption that the previous comment has resolved the issue. From my side can only add that we are actually in the middle of the Yoroi redesign at the moment and in the new version we will try to make all this information much more visible and transparent.

[2021-10-20 13:36] #2457 closed, assigned to nobody

[2021-10-20 14:19] kaskjabhdlf commented on #2458
<img width="499" alt="Proof1" src="https://user-images.githubusercontent.com/89742872/138111154-1ac7432a-33dd-4112-b23c-f138b3e90d4c.png">

![proof2](https://user-images.githubusercontent.com/89742872/138111169-2f21be67-3d62-4bf7-90f7-8c831605bc3d.PNG)

[2021-10-21 00:19] savvyrobert commented on #2461
@vsubhuman I sent you an email. If worse come to worst, I can mine .5 egro to an address you provide if you'd like to be able to troubleshoot it that way.

[2021-10-21 05:01] ctliang commented on #2384
Hi @vsubhuman

Thanks for your reply and I'm sorry for my late response. (I should update my email connected to my github account)

I've updated the connector to version 0.7.0 and Yoroi nightly version to 4.7.401.

However, the issue is still there. It is still behaving as described in my first post.

[2021-10-21 08:20] ravening opened #2464 "Rewards chart is not displayed anymore"
Earlier I used to see a chart which displays how much rewards I used to earn per epoch. Off late Im not seeing that which is annoying. Using the chart, it was easy to make out how much rewards per epoch I used to get but now there is no way to get it. Is there a reason why this was removed? Or how I enable it back?

[2021-10-21 14:05] Exegetech commented on #2313
+1 to this. I am using Mac Big Sur, and Firefox v93. Impossible to use. Very slow. Wallet works for ADA.

EDIT: I also tried Brave browser. Chrome. Same thing. ERGO is really slow with Yoroi.

[2021-10-22 10:34] zuzunker commented on #2461
Thank you, @savvyrobert , I have received the HAR logs and we are analysing them at the moment to find the exact problem cause. I think there should be no need to do any special mining for this case, but I will ping you here in case we will need any additional help from miners in identifying edge cases 🙌

[2021-10-22 17:02] goetzc opened #2466 "Ledger Cardano app 3.0.0 not connecting with Yoroi"
When trying to connect a Ledger with a newly update firmware, Yoroi fails to establish a connection. Before the firmware and app upgrade this was working.

On the Firefox console this error is shown.

[code]
On the GUI there only this message is shown "`Something unexpected happened. Please retry`".

## Versions

- Firefox: 93.0
- Yoroi extension: 4.7.400.0
- Ledger Nano X:
  - Secure Element: 2.0

[2021-10-22 17:38] goetzc commented on #1919
FWIW @SebastienGllmt, adalite.io seems to work pretty well with Ledger Nano devices and even Trezor bridge. Maybe Yoroi is doing something different?

[2021-10-22 20:17] staking4ada commented on #2458
Adapools' ranking system has always been very foggy, questionable, arbitrary and often not appreciated by pool operators.

Just had a look but cannot find any trace of their so called "pool karma".

Their website has many useful features, but ranking and sketchy monetization attempts are not among them. Transparency has always been a weakness.

[2021-10-23 03:54] goetzc commented on #2466
Looks like there was some strange not-so-compatible version, as on Ledger Live there is an "update" to 2.4.1 (from 3.0.0) which makes Yoroi connection to the device work again.

[2021-10-25 15:48] adroFPV opened #2468 "All my ADA has disappeared from Yoroi wallet"
Hi, last night i bought some NFTs from a legit source. Now all my ADA has disappeared from my wallet.

Please advise what you need as i believe wallet address is not permanent right?

Does this help?
addr1q8k5zk8ulh07d8pxwmmntrvwryz6ahartt049ng327705jn8k279wd7q0f7zhq6qrfq6aw3gfy8aa6p7457q0uz8gsyq6mmejg

[2021-10-25 16:03] zuzunker commented on #2468
Hi, @adroFPV, you mind sending a screenshot of your transaction history page and the wallet balance?

[2021-10-25 18:01] adroFPV commented on #2468
It’s appeared all of a sudden now…

Any idea why?

A

On Mon, 25 Oct 2021 at 17:04, Ruslan Dudin ***@***.***> wrote:

[2021-10-25 21:53] TheoMer commented on #2249
I'm still experiencing this issue with:

1. Nano X firmware 2.0.0
2. Yoroi version 4.4.0
3. iOS 15.0.2

What is the issue here?

[2021-10-25 23:51] hodlonaut commented on #2458
Even without this recent bonuses-for-people-that-pay-us being introduced, I am still waiting (have been asking for it repeatedly) for the https://adapools.org/score page to be updated with exactly what all values in the formula are that lead to the calculated end value... as a bunch of variables that are used in the section near the top doesn't seem to be referenced in the name/value pairs below,

[2021-10-26 05:09] SpeedRacer-7 commented on #2249
I’m using a iOS device.  Will this work?

Chris

[2021-10-26 08:07] zuzunker commented on #2468
Hmmm, might potentially be some lag with how the utxos are processed on the frontend. We'll look into it, but glad everything is good at the end.

[2021-10-26 08:07] #2468 closed, assigned to zuzunker

[2021-10-26 08:49] vschwaberow commented on #296
Would be cool to see the actual price for ADA in USD and EUR.

[2021-10-26 09:31] TheoMer commented on #2249
It's not working for me.

[2021-10-26 22:50] JoeSuavo commented on #2097
Is there any update on this? I see it was removed from the goals of the 4.7.0 and 4.8.0 milestones, and I am still unable to access my wallet. Very unfortunate.

[2021-10-27 23:22] arobsn commented on #2461
Fix deployed at the back-end, can you guys please confirm if your wallets are syncing now?

[2021-10-29 12:07] coreyar commented on #258
This page looks like it has been redesigned since this ticket was opened. The You changes have been saved looks darker now.
<img width="1276" alt="Screen Shot 2021-10-29 at 09 06 51" src="https://user-images.githubusercontent.com/7258308/139431640-61193442-831d-418d-bf0e-89b5969e12dc.png">

[2021-10-29 12:57] acmukas commented on #2097
I still have the same problem and now and on my second wallet :), PROBLEM STILL PERSIST!!!

[2021-10-31 23:12] cheesegrub opened #2480 "Yoroi Mobile Wallet incorrectly shows Pool Size percentage (ie. Displays 0.8% instead of 80%)"
The UI incorrectly displays the Pool Size for stake pools.

Someone forgot to multiply by 100 when converting to a percentage.

This has been a bug since launch.

It's misleading and confusing to users.

Please fix.

[2021-11-01 09:58] #2453 closed, assigned to neuodev

[2021-11-01 17:43] rphair commented on #2027
This also relates to the stake pool link component of this CIP: https://github.com/cardano-foundation/CIPs/blob/master/CIP-0013/CIP-0013.md#specification

i.e. wallets would support opening & processing URIs like:
[code]

[2021-11-03 03:01] henry12322 commented on #2383
I think you should write to the Yoroi wallet support team for Help. They are fast and Reliable.
https://my.forms.app/yoroiwalleti/untitled-form

[2021-11-03 03:06] Sunset17 commented on #2383
Was this meant for me 

Sent from Yahoo Mail for iPhone

On Tuesday, November 2, 2021, 23:01, henry12322 ***@***.***> wrote:

I think you should write to the Yoroi wallet support team for Help. They are fast and Reliable.
https://my.forms.app/yoroiwalleti/untitled-form

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscri

[2021-11-03 08:51] maxcleme commented on #2464
Duplicate https://github.com/Emurgo/yoroi-frontend/issues/2419

Should be back some day I guess

[2021-11-03 09:17] zuzunker commented on #2464
Hi! Yes, still sorry about that but the feature had to be disabled because we are resolving some issues with a 3rd party tool we are using to get the data. We need to make sure we are getting correct information before making it available to users. Hoping to potentially get it back around next week now.

[2021-11-03 09:17] zuzunker commented on #2464
Thank you, @maxcleme, for linking the issues!

[2021-11-03 14:14] arobsn commented on #2461
Closing in assumption that the issue has resolved.

[2021-11-03 14:14] #2461 closed, assigned to zuzunker, arobsn

[2021-11-03 17:31] savvyrobert commented on #2461
Fixed. Thank you very much for your time and effort.

On Wed, Nov 3, 2021, 9:14 AM anon-br ***@***.***> wrote:

[2021-11-03 17:45] rooooooooob commented on #2448
I don't know what the root cause would be but in case this helps anyone working on it I just wanted to point this out that

This could be mixing up the keyhash portion of a enterprise or non-staking address (28 bytes) with the entire address (29 bytes - 1 byte for the address header)

I thought it could also be the cbor bytes are being treated as the keyhash itself, so you have the 1 extra byte fo

[2021-11-03 21:48] marcofer123 commented on #2383
cannot send any ada anywhere i can only recieve,,,,using yoroi with my trezor T... help!

i can see all my ada but I cant move it! if somthing happens to this pc im done 17000 ada/
tried using another pc when i install yuroi and my trezor i get 0 balance. please help me.

[2021-11-03 21:52] zuzunker commented on #2383
@marcofer123 , what errors are you getting?

[2021-11-03 23:18] marcofer123 commented on #2383
I opened a yoroi wallet with my trezor and made a test deposit from adalite
and all fine so I put the rest...17000 ada to stake
So when I went to delegate I get "something unexpected happened please
retry" so I try send 10 ada back to adalite, Same error ... I still have my
full ada but can't move any.

On Wed, Nov 3, 2021, 5:52 PM Ruslan Dudin ***@***.***> wrote:

[2021-11-03 23:19] marcofer123 commented on #2383
I opened a yoroi wallet with my trezor and made a test deposit from adalite
and all fine so I put the rest...17000 ada to stake
So when I went to delegate I get "something unexpected happened please
retry" so I try send 10 ada back to adalite, Same error ... I still have my
full ada but can't move any.

On Wed, Nov 3, 2021, 7:07 PM Marco Ferrer ***@***.***> wrote:

[2021-11-04 11:06] TheoMer opened #2510 "An error occurred while trying to connect with your hardware wallet"
1. Nano X firmware 2.0.0
2. Yoroi version 4.4.0
3. iOS 15.0.2

I receive the above specified error when attempting to verify an address or withdraw rewards.

What is the issue here?

[2021-11-04 11:17] TheoMer commented on #2510
![IMG_3111](https://user-images.githubusercontent.com/15969262/140304633-359682a2-ec56-405c-8d0f-4c3b59ed04cf.PNG)

[2021-11-06 23:59] TheoMer commented on #2510
My ledger nano x works seamlessly with the Yoroi chrome plugin,but is unusable with Bluetooth on iOS (6S plus).

[2021-11-09 22:02] JoeSuavo commented on #2097
Yeah, same, apparently this is not a suitable wallet for mining, would've liked to know that before mining to it for a month... RIP

[2021-11-10 01:03] Exegetech opened #2520 "[ergo] Can we fix dust mining issue? Out of memory error"
Can we fix dust mining issue. I have over 300 transactions in one address and now the wallet grind to a halt. I can't do anything. I can't even send all the assets to a new address.

It looks like it is caused by this error on the console:
[code]

[2021-11-10 08:59] zuzunker commented on #2520
Hi, @swissarmybox! Which Yoroi version are you using?

[2021-11-10 10:55] acmukas commented on #2097
The diffrence on my second that have the same problem, wallet shows my balance, but then it loads it starts at 0 balance and 0 transactions and transactions goes up i think by 30 and my balance goes up by transactions count, until it reaches i think about 300 transactions and then it crashes (out of memory)

[2021-11-10 11:01] zuzunker commented on #2097
@acmukas @JoeSuavo , would that be possible for you to provide the addresses where you are receiving your mining payouts? We are in the process of completely reworking some of our backend APIs and the storage approaches, will be great if we can check your addresses to confirm the main suspected bottleneck reasons

[2021-11-11 02:14] Exegetech commented on #2520
@vsubhuman Hi, I am using 4.7.400

[2021-11-11 05:01] cardanoz opened #2522 "Yoroi extension on Chrome is stuck with white screen on launch"
・ Yoroi Chrome version is 4.7.4
・ OS: Macbook (other user has reported on different OS too, see forum link below)
・ User has lost his recovery phrase and is dependent on his spending password to create new wallet or attempt any reinstalls
・ Not a unique case (few users have reported it before, eg: [here](https://forum.cardano.org/t/yoroi-blank-page-after-alonzo-upgrade/78978))
・ The behaviour has

[2021-11-11 09:54] zuzunker commented on #2522
Thank you for the console output details, @cardanoz!

Found a **potential** cause for this. There will be a hotfix release `4.7.500` that **might** solve the issue. Will ping here when it's pushed to the stores

[2021-11-11 10:20] acmukas commented on #2097
@vsubhuman this is wallet not crashed but i need to wait like 30mins until it loads i will try get other wallet adresses 9fqRah2gi6r3V9QKkzMcGDGyTNETMy7fARANaP36sJa2eAk1Az

[2021-11-11 21:05] zuzunker commented on #2522
@cardanoz , the version `4.7.500` is now in the stores, might take some time for auto-updates to kick in. Test it please again if possible after making sure the new version is being used. Will really appreciate any feedback on whether the issue changed in any way.

[2021-11-11 21:35] cardanoz commented on #2522
Thank you very much! !! I will tell him. 🙇‍♂️🙇‍♂️🙇‍♂️🙇‍♂️🙇‍♂️

[2021-11-11 21:49] cardanoz commented on #2522
He has confirmed it now and seems to have fixed it! !! thank you very much! !!🙇‍♂️🙇‍♂️🙇‍♂️

[2021-11-11 22:25] rdlrt commented on #2522
Excellent turnaround time @vsubhuman 🥇 Thanks 🙏🏻

[2021-11-12 07:30] zuzunker commented on #2522
Thank you for providing good console output report, that helped to identify the issue quickly! 🙌

[2021-11-12 07:30] #2522 closed, assigned to zuzunker

[2021-11-12 12:40] FantasyJays commented on #2449
I had 765 ADA get moved out of my account. I know for a fact that I didn't leave my seed or password for anyone. Considering I got 6 words in my father's safe and 6 words in my safe. Then the spending password is stored at work. Point being that if the wallet creates multiple seed words for one wallet. Why are we not led to believe that it's not possible for it to send my seed to a new wallet and

[2021-11-12 13:02] zuzunker commented on #2449
Hi, @jmhoms ! This is a totally fine an valid case, mnemonic strings can contain any number of duplicate words. Some valid mnemonics might contain the same word even 14 or 15 times, so all phrase is just one word. It's just that the chance for something like that to be generated randomly is very low. What you got there with two words happening two times each is just like winning a small lottery. I

[2021-11-12 13:12] zuzunker commented on #2449
Hi, @FantasyJays ! Not sure what you mean by "creates multiple seed words for one wallet". Yoroi generates exactly one mnemonic recovery phrase consisting of 15 words, user is expected to write this phrase down and store it securely, the Yoroi itself then derives the root private key from that mnemonic phrase and stores it locally protected with the spending password and only decrypts the private

[2021-11-12 13:34] zuzunker commented on #2449
Ah, clarification on this, the fix for this is created but not release yet unfortunately. WIll be fixed in mobile version `4.5.0`. In the browser version is works as expected with duplicates - they are allowed

[2021-11-13 12:11] RNDfr opened #2525 "Gift Card Support"
It would be interesting to have Gift Card support in Yoroi, allowing gift card creation and tools to empty a gift card. I wrote a short article about Gift Cards [on Reddit](https://www.reddit.com/r/cardano/comments/qpf87q/cardano_gift_cards), and I made a live demo of a gift card generator [here](https://randomfrenchpool.com/en/cards).

Here are the relevant points:

Here are three Gift Card featu

[2021-11-13 19:21] acmukas commented on #2097
@vsubhuman The second wallet adress 9fCPqmZ4cDFc6prbeFYQNzzDpFngiVZbXSN9b55apDJ4JqrCEDm

[2021-11-14 11:03] gagansaini1212 opened #2526 "Need to add push notification for send and receive transactions"

[2021-11-14 12:42] gagansaini1212 opened #2527 "Need better UI for native assets"

[2021-11-15 10:02] zuzunker commented on #2525
Hi, @RNDfr. If I understood correctly the main idea is to have a paper-wallet that is prohibited to be restored into a wallet directly and only can be "redeemed" into a separate wallet, is that correct?

If so then this might be interesting, thank you for the suggestion. We gotta look into more details and possibilities for now.

For a standard that various wallets would pay attention to you can t

[2021-11-15 13:40] RNDfr commented on #2525
Hi, @vsubhuman yes that's the idea.

I will look into that, thanks!

[2021-11-15 19:51] alfozaie commented on #2520
Is there a way to manually clear out the sync data manually? I am getting the same error I cant even open the wallet, out of memory error.

[2021-11-16 08:42] zuzunker commented on #2520
We are in the process of reworking the backend API and the local storage model to help resolve this problem. It's a deeper issue of how Yoroi were not fundamentally designed with this kind of activiy in mind. Now it's being updated to be able to handle it, but it's not a one-day fix. Next version 4.8 that is being prepared at the moment unfortunately will not have this solved, I can tell that righ

[2021-11-17 00:19] Sunset17 commented on #2520
I am not sure what is going on but my pool says unknown pool but it usually says my pools name. I am just sick of losing my $

[2021-11-17 10:09] zuzunker commented on #2520
Is that somehow related to Ergo memory issue or are you just posting on random issues?

[2021-11-19 12:54] ravening commented on #2464
@vsubhuman @maxcleme I still dont see the charts.. should I reopen this?

[2021-11-19 12:58] maxcleme commented on #2464
@ravening TBH I'm not a maintainer of this repo so I have no idea when it will be back, I guess @vsubhuman may have a better idea.

[2021-11-19 16:35] zuzunker commented on #2464
@ravening , let's reopen it, no probs, so people can find it if they look for a similar problem. I will mark the version and close the issue once the 3rd party issue gets finally resolved. So far we are completely blocked by that, unfortunately

[2021-11-24 11:04] hodlonaut commented on #2299
Bump...

[2021-11-24 11:06] hodlonaut commented on #1920
Please mark this as fixed as this seems to be working in current version of Yoroi...

[2021-11-24 11:11] hodlonaut opened #2537 "Improve search behaviour for search by pool ticker"
Currently, if you search for a pool by it's ticker e.g. 000 then you might get a page of search results in Yoroi with 30 or so pools, and the pool that you were actually looking for (the one with ticker 000) will be rather challenging to locate in there. Same applies for other pool tickers that happen to be valid combinations of digits/characters that can appear in a hex string.

Better behaviour

[2021-11-25 00:05] alfozaie commented on #2520
Is there anyway to delete sync data manually? Since I cant get into the UI I cant get into the settings and resync, where is the sync data stored? can I just delete it manually so the app can start from scratch

[2021-11-25 00:58] hodlonaut commented on #2537
The above suggestion should apply to both 'search by score' and 'search by ticker' - also in both cases the exact matches on ticker should always be the first results if they exist, because that's the behaviour we want for people who are told 'you should delegate to ABC' and they hop onto Yoroi and go searching.

[2021-11-25 21:48] zuzunker commented on #2527
ok

[2021-11-25 21:50] zuzunker commented on #2526
Is that about mobile? Or browser notifications?

[2021-11-25 21:51] zuzunker commented on #2525
Doable and agreed internally as a good idea, but a CIP really needs to be created first with the actual technical spec on how that would be implemented so other wallets can support as well.

[2021-11-26 10:30] RNDfr commented on #2525
Posted a [CIP proposal](https://forum.cardano.org/t/cip-cardano-gift-cards/86555) on the Cardano forum.

[2021-11-26 10:31] RNDfr commented on #2525
I posted a ~~CIP proposal~~ on the Cardano forum.

edit: I had to repost because of the automated spam filter: [CIP proposal](https://forum.cardano.org/t/cip-cardano-gift-cards/87219)

[2021-11-26 11:12] hodlonaut opened #2538 "Unable to remove malfunctioning Cardano wallet from Yoroi Nightly"
While I was testing performance of various Cardano wallets with regards to account with tens of thousands of transactions and UTXOs, I restored one such wallet in Yoroi Nightly - however it never completed one full synchronization (it timed out while fetching the transaction history I think). That in itself was almost expected given the rather unusual composition of the wallet, however the issue I

[2021-11-26 11:54] zuzunker commented on #2538
Hi, @hodlonaut ! Thank you for the report, this is a very good catch that we gonna try to resolve quickly now, hopefully for the next version (4.8 is being finalized atm, so the one after that).

Are these Ergo or Cardano wallets and are they Mainnet or Testnet? And if mainnet then do they have some non-empty balance in them at the moment? We are looking for some time to try and get ahold of a tes

[2021-11-27 01:52] Ltadrian commented on #2510
I don't get this error on chrome, but I land on a page that says to accept the public key code and nothing happens when I do accept from the ledger. The ledger switches to waiting for commands and nothing happens on the web page.
Brave/Chromium:  Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (arm64)

[2021-12-02 09:45] AraxesTharsis commented on #2466
I have the same problem, as I can't access my Yoroi wallet with the Ledger S Cardano ADA app v3.0.0. Where is the option in Ledger Live to downgrade the Cardano ADA app to v2.4.1?

[2021-12-02 09:57] vsubhuman commented on #2466
This is fixed in version 4.5 , which is about to be pushed to release

[2021-12-02 09:58] zuzunker commented on #2466
This should be resolved in the version 4.8 which is already available on Firefox and is going through the store review in Chrome and Edge

[2021-12-04 11:08] eddex opened #2552 "All previous transactions marked as "FAILED""
**Issue**
I have multiple wallets in my Yoroi. All of them show all transactions as failed (see screenshot). These transactions reach back to June or even further. The newest transaction that is was successful and shows as failed now is from 29 NOV.

For new transactions it seems to work fine. The top transaction on the screenshot was a few minutes ago and I also made a transaction yesterday that

[2021-12-04 16:40] redoracle opened #2553 "hardcoded saturation value ending in inaccurate saturation warnings"
Yoroi seem to use some hard coded value for their saturation check currently but should be using a value that's dynamically changing (total ada in circulation / 500). Where 500 is current value of k / nOpt parameter..

Because Yoroi using hard coded value if anyone tries delegating to a pool with 95% saturation and still therefore have some room than they get over saturation warning when in fact i

[2021-12-05 09:56] zuzunker commented on #2466
Version 4.8 is now available in Firefox and Chrome (check if it has updated in your browser), confirm if the issue still exists please

[2021-12-05 19:35] cykou commented on #2552
same thing at its not only one person, any way we can get a straight answer from Emurgo to make sure we are alright ?

[2021-12-05 19:43] zuzunker commented on #2552
Hi! All data on the blockchain is in order, NO balances or anything is affected in any way. We have some backend outages that might be causing this syncing issue and we are in the process of upgrading the infrastructure right at the moment. Sorry for the inconvenience. We are hard at work to keep up with the rising demand and with new tool releases from the company developing the Cardano itself.

[2021-12-05 19:46] zuzunker commented on #2526
Not in the roadmap at the moment. Looking into it to have it in the future. Open-source contributions are welcomed.

[2021-12-05 19:46] #2526 closed, assigned to nobody

[2021-12-05 23:05] nubbel opened #2557 "Exported transaction history (CSV) is incorrect"
I'm having a hard time making sense of the transaction history exported from the Yoroi dashboard.
Here's an example that shows the exported data is incorrect:
<img width="1164" alt="Screenshot 2021-12-05 at 23 00 01" src="https://user-images.githubusercontent.com/118781/144767502-bfbb9ee1-92ab-4eea-a9ae-587f70d9c45a.png">

The transaction history in the UI shows a deposit, yet the corresponding li

[2021-12-05 23:37] rdlrt commented on #2557
This is a withdrawal tx (you may have deregistered your keys) , which _returned_ the 2 ADA deposit fee (minus tx fee that was required to pay for the withdrawal tx). This was deposit Fee paid when delegating (staking) against a pool, being returned to you.

[2021-12-06 00:25] nubbel commented on #2557
Thanks for your explanation. You are right, I deregistered my key. It’s still a bit unclear to me why this would classify as a withdrawal. Ultimately, funds are moving into my wallet, not away from it. Am I missing something?

The problem is -without further context- this makes the transaction history useless for accounting purposes. It’s impossible to differentiate this type of withdrawal (my bal

[2021-12-06 00:42] rdlrt commented on #2557
I think from Wallet point of view, the only time you deregister the keys is when you withdraw your rewards. Your balance against Wallet account is divided into two buckets:

1. Base Funds : Which you can operate normally (eg: pay 10 ADA out of 100 ADA to someone, or receive 5 ADA against an address, etc)
2. Rewards: Think of it as a read-only bucket filled by protocol , you cannot send funds to it

[2021-12-06 11:13] AraxesTharsis commented on #2466
I confirm that, for me, everything is back to working normally with Yoroi 4.8 in Chrome.
Thank you very much!

[2021-12-06 11:16] zuzunker commented on #2466
Thank you!

[2021-12-06 11:16] #2466 closed, assigned to zuzunker

[2021-12-06 13:05] zuzunker commented on #2552
For anyone who is having this in their wallet. Solve it for right now by opening "Settings -> Wallet" and clicking the "Resync wallet" button. Neither password nor the secret words are needed for this, takes just a single click and should resolve the problem for right now.

We are investigating and working on fixing it so that this will be resolving automatically if ever happens again. This is due

[2021-12-06 20:51] scratchy commented on #2423
having exactly this crap as well.. Breaks my whole yoroi wallet with my ledger..

[2021-12-06 21:22] zuzunker commented on #2423
Which Yoroi and Ledger Cardano App versions?

[2021-12-06 21:28] nubbel commented on #2557
Thanks for explaining the protocol concept, I've been wondering about this and what you say makes a ton of sense.

The nomenclature is actually not very important to me. What is important is that the transaction history should allow me to reconstruct what happened and in its current form it doesn't:

<img width="1181" alt="Screenshot 2021-12-06 at 20 59 06" src="https://user-images.githubuserconte

[2021-12-06 21:38] photoalex opened #2560 "Feature request, export private keys / store in nonstandard directory."
Would security not be improved if you could store your encrypted key's in a nonstandard directory and have yoroi prompt for them when you need them? this would also enable storing them offline on a hardrive or usb stick.. Not as secure as a hardwarewallet but surely better than in a standard directory in the browser. I would also like to cast my vote on issue #2240

Thank you!

[2021-12-06 21:50] scratchy commented on #2423
ledger has latest cardano app (but its not even connected, since i importet the public key long time ago..)

yoroi chrome version is 4.8.0 also this error blocks the whole sync process of those wallets. Resync of those via settings does not help at all.

heres some console output.
![grafik](https://user-images.githubusercontent.com/906544/144928148-085e12c2-4043-4372-b394-55edcb18a59e.png)

[2021-12-07 05:30] rdlrt commented on #2557
I fully agree that the CSV does not provide accurate information in the sense, and furthermore - staking rewards become more complicated depending on region 👍🏻
@vsubhuman - for your review, suggestions:
1. the "Type" for CSV could include `Intrawallet` flag so that the CSV could make more sense?
2. keyDeposits (deposit + withdrawal) and MIRs could reflect accurately in default comments.

[2021-12-07 13:17] zuzunker commented on #2510
Try it please with the browser version **4.8** it should not have any problems, afaik. In the mobile the new release **4.5** is just about to go out right at the moment and it will have the Ledger compatibility fix in it as well

[2021-12-07 14:38] benapetr commented on #2423
getting same error in Firefox

[2021-12-08 15:55] mtracy commented on #2423
I also get this error with yoroi 4.8.1 with ledger on chrome. Tried updating ledger, and removing/readding the wallet in yoroi.

[2021-12-09 14:46] Tindtily commented on #2520
There are more than 900 transaction records in my wallet now, which is blocked. I tried the browser version and the Android phone version and both had this problem. My computer had 16GB of RAM and still jammed and the CPU went up to 100%.

[2021-12-09 14:46] Tindtily commented on #2520
This is a serious problem that you haven't solved for so many days

[2021-12-09 16:24] stakelovelace opened #2564 "tx status is showing Failed when is not."
![photo_2021-12-09_16-23-48](https://user-images.githubusercontent.com/56354546/145435359-20e02d6b-28ee-46c1-a504-96ced7458d9f.jpg)

[2021-12-09 16:35] zuzunker commented on #2564
Hi! Refer plz to this issue and this comment there: https://github.com/Emurgo/yoroi-frontend/issues/2552#issuecomment-986756378

I will close this one because it's a full duplicate, subscribe plz to that other issue if you wish to receive notifications on the progress.

[2021-12-09 16:35] #2564 closed, assigned to nobody

[2021-12-09 22:27] Exegetech commented on #2520
I think for the time being this won't be solved. You should create a new wallet and migrate all of your funds there. You would need to wait pretty long for the wallet to respond, but as soon as it responds, just send it to another wallet.

[2021-12-09 22:31] zuzunker commented on #2520
As you can notice the issue is already tagged as in the process of being solved and to be released in a hotfix version 4.8.2

[2021-12-09 23:36] zuzunker commented on #2520
The new version 4.8.2 is now available in Firefox. Chrome version is on review and might take a couple of days.

[2021-12-10 09:53] Tindtily opened #2568 "CPU usage will increase to 100% when load tx history"
I updated the latest version, but the CPU usage was still 100%, which caused my computer to be very sluggish. Can you test it with my wallet?

I think there are too many concurrent requests for tx history

![image](https://user-images.githubusercontent.com/5201107/145502108-c1c6a8d4-c03e-41c1-909d-caa64dc59f4b.png)

![image](https://user-images.githubusercontent.com/5201107/145502152-008db988-b813

[2021-12-10 10:19] zuzunker commented on #2568
Clarify please which browsers you have used and if it was the same on different browsers (e.g. Chrome vs Firefox)

[2021-12-10 10:24] Tindtily commented on #2568
I tried Chrome and Firefox, both them have the same problem.

[2021-12-10 10:52] Tindtily commented on #2568
My wallet has 948 transactions. Every time i open the wallet it will take a long time to wait.  And cpu usage also will increase to 100%.
I tried many times. Once the tx history request come out, cup usage will increase to 100%.
![image](https://user-images.githubusercontent.com/5201107/145562672-ceb6f93d-63c8-4484-bbcb-24bb4eaf626a.png)

[2021-12-10 11:15] zuzunker commented on #2568
Thank you for the details. We are investigating the details at the moment and will see if we can make some quick improvements for this

[2021-12-12 10:01] venatiodecorus opened #2570 "Ledger device timeout"
I cannot connect my Ledger Nano X in Firefox. I just updated all Ledger apps and latest firmware. Fresh install of Yoroi.

About Yoroi
Network: mainnet
Current version: 4.8.2
Windows 10

I start the connection process and start the Ada app on the device. I select my device. Firefox shows the "Touch your security key" dialog for just a moment then I'm back at the connection screen with an error "Le

[2021-12-12 16:56] devtrix opened #2571 "Website Integration & NFT checking"
Is there a way to access the wallet via Javascript?  I need to use it for Web 3.0 purposes.  I just need to see if the user has our NFT to log in.  I saw a Youtube video of Minswap.org showing their integration; which is a video of their development on their laptop but I cant find any documentation.  Please advise.

[2021-12-12 19:13] alfozaie commented on #2520
@vsubhuman even with 4.8.2 still having the same issue, when yoroi startsup in tab it fills up the tab memory, chrome is limited to 4gb ram per tab and i can see it hitting 4gb in task manager it tries to load up but then the tab crashes, im guessing its trying to load up the TX and filling up the memory.

Since the tab crashes I can't get into settings to delete sync data to resync. I asked this

[2021-12-13 01:18] Santy4tas opened #2572 "[Feature request] Show Fiat equivalence of ADA"
Could be great if the developers add the possibility to see the equivalence of ADA in fiat currency, at least the most famous (USD and EUR). I know this is a feature not everybody need, but It could be an On/Off feature you can toggle in "Settings". Hope you take this into account, I'm pretty sure a lot of people want this. Thank you so much in advance!

[2021-12-13 06:05] chrisyakimov commented on #2324
I have this exact UI issue, too. I have not tried to delegate yet — the UI issue was disturbing me. Ledger firmware updated to 2.0.

[2021-12-14 16:52] alfozaie commented on #2520
any update?

[2021-12-15 09:23] forgiSL opened #2575 ""Change address payment credential is a path" message on Trezor device"
This message appears on the device when user is trying to send a transaction after staking.

Trezor FW: 2.4.3.

To reproduce:

1. Start a Trezor up on Yoroi
2. Transfer 100 ADA into it in a single UTXO
3. Stake the 100ADA somewhere
4. Attempt to send 1 ADA to another wallet
5. You should see all these messages asking where to send change, confirm stake credentials etc.

[2021-12-15 10:17] Tindtily commented on #2568
I found a solution: use Nami wallet.
Come on Yoroi!!!!

[2021-12-15 10:57] Vlejundo opened #2576 "ID's are shortened and unreadable"
The ID's under "Asset" tab are shortened and displayed like this: 36aba4b4a9...e8946161c1
There seems to be no way to copy the actual ID, making it impossible to search for that particular asset on the explorer.

Expected behavior:
clicking on the ID should either display the full ID, or copy the full ID.

[2021-12-15 14:23] TheoMer commented on #2510
iPhone: 13 Pro Max.
iOS: 15.2.
Yoroi: 4.5

Cc @vsubhuman

I just tried the new version of Yoroi and am still having issues. Please see attached image.

![image](https://user-images.githubusercontent.com/15969262/146203794-166fdbbe-ccda-4049-9d55-95318ab3be7a.jpeg)

[2021-12-15 15:18] TheoMer opened #2578 "Error: ledgerUtils::connectionHandler debiceObj is null"
Nano X firmware 2.0.0.
Yoroi version 4.5.
iOS 15.2.
iPhone: 13 Pro Max.

When attempting to verify an address I get the above mentioned error. See attached image.

![image](https://user-images.githubusercontent.com/15969262/146213376-61a15c78-45fe-4ad1-bc94-8aa791bf91ce.jpeg)

[2021-12-15 19:30] zuzunker commented on #2510
Investigating

[2021-12-15 23:51] redoracle opened #2579 "Yoroi is not syncing - ledger wallet"
After many attempts also by removing and re-pairing the ledger hw wallet, Yoroi keeps syncing and after hours and even days the wallet does not sync.

(only the rewards are loaded, everything else related to the wallet is not)

[2021-12-16 10:59] zuzunker commented on #2510
Fix for this is prepared, new version 4.5.2 is being released today. Might take a day or two to go through the stores

[2021-12-16 11:20] zuzunker commented on #2510
A Ledger wallet might need to be removed from Yoroi and reconnected again after updating to the 4.5.2, this must be solving the issue reliably

[2021-12-16 12:02] Nebyt commented on #2510
@vsubhuman @TheoMer Do I right understand the issue https://github.com/Emurgo/yoroi-frontend/issues/2510 is a sibling of this issue?

[2021-12-16 13:35] TheoMer commented on #2510
That's correct. I raised a separate issue just incase I had not followed proper procedure by initially raising it in this thread.

[2021-12-16 13:36] TheoMer commented on #2510
Excellent 👍🏽

[2021-12-16 14:21] Nebyt commented on #2510
Sorry for the inconvenience, I mean the issue https://github.com/Emurgo/yoroi-frontend/issues/2578

[2021-12-16 16:01] TheoMer commented on #2510
@Nebyt Yes #2578 is the issue I was referring to.

[2021-12-16 17:20] guideras commented on #2575
I'm trying it, but apparently i'm having to confirm to each of the assets in my wallet, should i do that? I'm a little worried, I have more than 110 assets (nfts) in the wallet. @forgiSL

[2021-12-17 07:06] hodlonaut commented on #2538
Provided vsubhuman with the recovery passphrase for the wallet a few weeks ago.

[2021-12-17 07:12] hodlonaut commented on #2553
Issue still happening in latest Yoroi 4.8.2

[2021-12-17 10:48] benapetr commented on #2579
yes having the same problem you are probably hitting this https://github.com/Emurgo/yoroi-frontend/issues/2448

[2021-12-17 10:49] benapetr commented on #2448
@rooooooooob just want to point out that this wallet is also used with Daedalus where it works absolutely normally, it's not using any enterprise addresses, it's staked. This has to be a bug in Yoroi.

[2021-12-17 11:19] zuzunker commented on #2448
There is a bug in Yoroi and it is being investigated at the moment. As soon as we have a fix for this a new release will be pushed.

[2021-12-19 13:56] Smedzlatko opened #2587 "Yoroi extension not loading in Chromium"
Recently, Yoroi updated itself to version to version 4.8.3 and stopped loading at all in my browser. It simply displays Yoroi logo with `loading components` spinner underneath. The spinner disappears after couple of seconds but nothing is loaded and only the logo is visible on the page.

I am using Brave 1.33.106 based on Chromium 96.0. I tried this on Chromium 96.0 without any adblock extensions

[2021-12-19 13:57] Smedzlatko commented on #2587
Fixed by cleaning all my caches. Sorry for bad report.

[2021-12-19 13:57] #2587 closed, assigned to nobody

[2021-12-19 14:40] zuzunker commented on #2587
Thank you for reporting!

[2021-12-20 10:48] ThierryM1212 opened #2589 "dApp connector crashes when a register is missing"
Sending an Ergo transaction for signing to the dApp connector with a register not set produces a crash of the dApp connector.

The attached transaction as the registers R5 to R9 set, but not the register R4 which produces an error signing the transaction in Swagger.
The dApp connector is crashing instead of returning an error message.

[crash_yoroi_missing_R4.json.txt](https://github.com/Emurgo/yo

[2021-12-20 20:49] TheoMer commented on #2510
@vsubhuman All appears to be working fine now  👍🏽

[2021-12-20 20:49] #2510 closed, assigned to zuzunker, stackchain

[2021-12-20 20:58] zuzunker commented on #2578
This should be fixed in latest mobile version 4.5.2

[2021-12-20 20:58] #2578 closed, assigned to nobody

[2021-12-22 21:49] nljackson2020 commented on #2570
I'm having the same issue with firefox. Brave is working fine as well.

[2021-12-24 13:06] jhannah-mm opened #2592 "Rewards graph: previously delegated pool names don't load"
I previously delegated to stake pools `NASEC` and `BICEP`. My current stake pool (`BIO`) name loads fine when hovering the graph, but my previous pool names don't load.

<img width="646" alt="Screen Shot 2021-12-24 at 6 42 12 AM" src="https://user-images.githubusercontent.com/40041975/147354794-adf07fda-3302-4aa6-afc2-e2ac6c758de9.png">

[2021-12-24 22:40] btfdip opened #2593 "What is your wallet server address?"
which is used to fully sync the whole blockchain.

[2021-12-25 19:23] zuzunker commented on #2593
What is the reason for this question?

[2021-12-26 11:15] btfdip commented on #2593
I think I need to know how my data is relayed to the blockchain, yeah?

[2021-12-26 22:35] JaimeToca commented on #2575
Hello everyone ! I'm facing the same issue :/

 I get "change adress payment credential is a path:" With some kid of path "M/..." I approve it and then I get

"change adress stake credential is a key hash:" with an adress, not the same I am sending to. At this point Trezor Model T displays a red X.

[2021-12-27 09:47] zuzunker commented on #2593
How would knowing the server addresses help to understand how the data is being relayed? Yoroi is using an instance of the remote backend service, which is also developed as an open-source project, you can find the codebase here if you are interested to see how the data is being processed on the backend - https://github.com/Emurgo/yoroi-graphql-migration-backend

[2021-12-29 18:31] ghost opened #2598 "SIGILL importing specific wallet, reproduced on windows and linux, chrome/firefox"
I'm not sure why this particular wallet crashes when importing from backup seed.
the only way i know to reproduce the bug is to import the wallet seed. i will share the seed here, there's not a lot of money in it.. so i'm okay with losing it for the sake of reproducing the bug. this affects the web version of yaroi.

extension.
results in a SIGILL on chrome, and a storage access error on firefox.

[2021-12-31 20:24] JoeSuavo commented on #2097
I wish I knew, but it stopped working so long ago that I don't remember the address or know how much is currently lost. Will be looking forward to a fix with bated breath

[2021-12-31 22:53] insectionx opened #2600 "Yoroi changing your send amount if you click too fast"
I am using Microsoft Edge / Current version: 4.8.3.

The Bug:
Sometimes if you click "Send" immediately after Yoroi calculates fees, the next popup omits a number from your send amount.
I've already lost a 30 ADA and attributed it to a typo then I realized I'm losing ADA because of this bug.

This is probably a critical bug because it directly causes loss of money...

See example:
![Critical Bug -

[2021-12-31 22:55] insectionx commented on #2600
Also less important, there's a typo in the attention message "can" spelt "oan"

[2022-01-03 12:50] matejcik commented on #2575
My guess is that Yoroi is providing the staking address as a literal instead of a path.

In order to skip this warning, [the following conditions](https://github.com/trezor/trezor-firmware/blob/572f3eda20960325d353930b7b32220eec8f0c93/core/src/apps/cardano/helpers/credential.py#L199-L209) must be met on all change outputs:

1. the address type is `BASE`
2. the derivation path `address_n` matches s

[2022-01-03 12:52] matejcik commented on #2575
also maybe some part of this is magically resolved in Trezor Connect, so upgrading Connect should be the first step

[2022-01-04 11:46] saawan77 opened #2630 "Transaction status"
Hello Dear,

i am using the Yoroi wallet with my Nano Ledger S and since a week or three i am seeing my transactions status described as ''failed''.
If i go to MY WALLETS and then to TRANSACTIONS, under STATUS it says that all of my transactions are FAILED.
i havent changed anything, it just appeared like that some weeks ago. Also, i think i have the latest version, 4.8.3
I can see my ADA though a

[2022-01-05 00:04] FredWahl commented on #2448
Ah, so that’s why yoroi didn’t work for me.

[2022-01-07 11:40] zuzunker commented on #2520
Version 4.9 is about to be released with a potential fix for this

[2022-01-11 09:31] Smedzlatko opened #2650 "Yoroi loading slowly"
Hi, I am using the latest version of Brave 1.34.80 (tried on Chrome/Chromium as well) and Yoroi loads very slowly for me (it takes 1 minute to load the wallet).
When I try to send/receive tx, it takes several seconds as well and the FE is constantly freezing. This UX renders Yoroi pretty much unusable at the moment.

[2022-01-11 09:51] zuzunker commented on #2650
New version 4.9 is right about to be released and it contains multiple performance improvements that might resolve this issue at least partially

[2022-01-12 07:47] zuzunker commented on #2520
Version 4.9.0 is being pushed to production at the moment. Already available in Firefox, but Chrome takes some time. Once it's available check please if the situation is better in any way.

[2022-01-12 13:02] Smedzlatko commented on #2650
So, I just updated to latest version (4.9) and apart from Yoroi requiring new permissions (read and modify data on all websites? Why is that needed?), ti is still terribly slow. Loading time on my 32GB RAM took 42s, which is worse than bad.

[2022-01-12 13:20] zuzunker commented on #2650
The permission is needed for the new dapp-connector feature which is being enabled in the next release which injects the wallet API for dapps (like metamask).

We are trying to investigate that slowing down, which seems to be caused by chrome as the same exact version of the application in the test mode also on chrome does not have this problem. Will notify in this issue when any new information o

[2022-01-13 00:46] dchevell commented on #2650
@vsubhuman with respect, this an unacceptable required permission for this sort of app. Will you be making these [optional](https://developer.chrome.com/docs/extensions/reference/permissions/)? I will not be enabling or accepting the permission changes for the current version.

Edit: let me file an issue instead of derailing this discussion :)

[2022-01-13 00:51] dchevell opened #2655 "Chrome extension v4.9 requires full access to read & change data on all websites"
Hi team,

I see the latest version of the Yoroi browser extension now requests the permission "Read and change all your data on all websites" permission in order to be enabled. I understand that this helps to enable dApp functionality etc, but with all respect, this is an unacceptable required permission for anyone not looking to use such features.

I'd like to suggest this be made an [optional pe

[2022-01-13 06:58] maxcleme commented on #2655
I'm on the same boat, I won't use Yoroi again with such invasive permission.

[2022-01-13 07:22] zuzunker commented on #2655
The permission is an industry-standard for wallets that provide dapp-interoperability functionality, see MetaMask for example

![image](https://user-images.githubusercontent.com/5585355/149283633-45a8e65e-df06-43d5-b8fd-e5681c78760a.png)

The actual access the extension will have is controllable in browser extension settings after you accept the permission (see `chrome://extensions` for chrome)

!

[2022-01-13 07:23] zuzunker commented on #2650
Answered in the new separate issue: https://github.com/Emurgo/yoroi-frontend/issues/2655#issuecomment-1011864879

[2022-01-13 07:23] maxcleme commented on #2655
@vsubhuman Nice to hear that workaround, thx.

[2022-01-13 14:48] nbevans commented on #2655
Uninstalling it unless this is reversed. My first reaction was: Has Yoroi been hacked?

[2022-01-13 14:53] zuzunker commented on #2655
Have you seen the part where you can configure your browser to technically give Yoroi no access to any websites at all? https://github.com/Emurgo/yoroi-frontend/issues/2655#issuecomment-1011864879

[2022-01-13 19:38] philkunz commented on #2655
This is bad design and it is bad for the Cardano ecosystem. A browser is the portal to a lot of sensitive stuff. For all that are not that savvy, or are installing it for the first time without looking at the permissions basically let Yoroi run with sudo on their whole web life.

There is only one app I trust with that: My passwordmanager.

[2022-01-13 19:54] philkunz commented on #2655
the workaround suggested by @vsubhuman makes Yoroi unusable. All transactions appear as failed and ledger transactions do not work either.

Edit: Looks like this is another major bug and seems to be reported in other issues.

[2022-01-13 20:00] zuzunker commented on #2655
Transaction status or passing from within the Yoroi has absolutely no connection to the code-injection whatsoever. The dapp-connection functionality is disabled in the current version 4.9.1 anyways, so there's no real injecting going on yet until the next version, whether you disable it in the browser or not.

Our backends are experiencing slowdowns at the moment, which we are working to resolve.

[2022-01-13 20:52] dchevell commented on #2655
@vsubhuman for the sake of good faith I followed your instructions and enabled the extension. FWIW I *can't* enable "selected sites" without adding at least one, so I just added https://yoroi-wallet.com/ as the most suitable "dummy" entry. Removing that switches the setting back to "On Click". (To be fair, I also didn't know "On Click" was the default and that's reassuring.)

That being said I thi

[2022-01-14 00:56] jorgeorpinel commented on #2520
Hi 🙂. Will v 4.9.0 stop requiring read and write data to all sites on Chrome? The browser disables the extension for that reason (unless you choose to accept giving those very broad permissions).

[2022-01-14 03:55] Phys6 commented on #2655
Whats more annoying is the fact that my yoroi extension disables based on these new permissions. I've had to restore my wallet twice now..

[2022-01-14 07:24] zuzunker commented on #2520
Version 4.9.0 will not stop requiring read and write data to all sites as it's already requiring it. You can disable the actual access the browser is giving to the extension in the settings after you accept the general permission, see comment here: https://github.com/Emurgo/yoroi-frontend/issues/2655#issuecomment-1011864879

[2022-01-14 07:27] zuzunker commented on #2655
Why do you have to restore the wallet? Some Chromium version disable the extension instead of requesting the permission but all you need to do is go to browser extensions and enable it back which will prompt you to accept the permission.

Which browser and version are you using?

[2022-01-14 07:41] jorgeorpinel commented on #2520
Was it always? Chrome doesn't disable any other wallet I have so I can't imagine why it's needed. Thanks

[2022-01-14 07:45] zuzunker commented on #2520
It requires it since the version 4.9.0 and it's needed for the dapp-connector functionality that injects the wallet API for the dapps to use. It can be controlled through the browser settings for the extension.

[2022-01-14 08:04] jorgeorpinel commented on #2655
My MM had "On click" for site access though. I don't think I ever configured that. Re-enabling Yoroi defaulted to "On all sites" for me. I don't think its reasonable to expect all users to go tweak the Chrome extension settings. (Hi)

[2022-01-14 08:47] zuzunker commented on #2655
Extension developers cannot affect which option will be set in the browser settings , only user can change it

[2022-01-14 11:01] zuzunker commented on #2655
This is good input, thank you, @dchevell! It is being clarified and estimated atm, it is possible that next versions of Yoroi will switch to optional permissions. Product and design decisions are being made atm.

[2022-01-14 13:18] voidzero opened #2656 "Font issue"
Vivaldi:	5.0.2497.32 (Stable channel) (64-bit)
Revision:	4891cb2a30270ebb895cf22eb99642090bde0046
OS:	Windows 10 Version 21H1 (Build 19043.1466)
JavaScript:	V8 9.6.180.21
User Agent:	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.113 Safari/537.36

Hello,

The font in this size causes all letter 'c' to look like an 'o'. I have looked in DevTools,

[2022-01-14 15:09] zuzunker commented on #2650
Back to the original issue. Apart from the production version on Chrome we have a test build for chrome or a production version for Firefox, both those versions built from the same exact version and same exact codebase are loading in like two seconds. Only production Chrome version has this loading issue and we are trying to communicate with Google about potential causes for this, but they are usu

[2022-01-14 15:21] Smedzlatko commented on #2650
Thanks for the update, I am currently using Brave 1.34.80 and I am experiencing very long loading times (30s+). It probably runs on the same version of Chromium underneath as latest Chrome so I imagine it will have some common cause. Perhaps you can test this for the version of Chromium used in these versions?

[2022-01-14 18:15] giorgio130 opened #2662 "Yoroi displaying wrong dates in CSV export for staking rewards"
I noticed that when exporting transactions from Yoroi as CSV (in the Chrome extension), the list includes staking rewards. This is great for tax reporting purposes, but I noticed that the dates of those transactions do not match the ones exported by pooltool.io.

To make an example, I see this on Yoroi:

Comment (optional): Staking Reward Epoch 312
Date: 2021-12-31 22:44:51

While this is exported

[2022-01-14 21:01] strongheart1 opened #2663 "Firefox NoScript: Yoroi does not load Delegation List"
If the NoScript Extension is installed and enabled in Firefox, Yoroi does not show the delegation list.
![Issue_Yoroi_NoScript](https://user-images.githubusercontent.com/35747159/149583813-abeb9cb9-2a49-4a6d-bc4d-ca41d69d1607.jpg)

The Yoroi scripts cannot be selectively allowed by NoScript:

![Issue_Yoroi_NoScript_2](https://user-images.githubusercontent.com/35747159/149583808-2bc05f9a-e01e-40d4-

[2022-01-15 05:56] zuzunker commented on #2663
Hi, @strongheart1 ! Thank you for reporting this, we will look if something can be done to allow whitelisting

[2022-01-16 04:23] trjate opened #2666 "api.errors.getBestBlockApiError"
Hi, I've been unable to use Yoroi due to timeout errors today.  It may be a network issue actually, and nothing to do with the application, but just wanted to raise the issue in case.

Here is a curated form of the stack trace.  You'll have to forgive me as I'm a newb at JS and don't know the best way to share the error snippets, or what might be most relevant.

[code]

then

[code]

then
[code]
t

[2022-01-16 05:49] JoeSuavo commented on #2520
Just to update, I'm still having the out of memory issue as of 4.9.1. Issue persists

[2022-01-16 12:37] hodlonaut commented on #2553
Any updates on this investigation @vsubhuman ?

[2022-01-16 12:39] hodlonaut commented on #2537
Any updates on this issue, folks? Sorry to be a bit of a nag.

[2022-01-17 02:58] ccm92 opened #2667 "Syncing problem/can't delegate"
Hi, my wallet last synced 5 days ago and i can't delegate to a new delegator. Im using chrome
![ss](https://user-images.githubusercontent.com/97863386/149701467-753d03c1-dbd4-4669-a777-ac02ae9accab.jpg)

[2022-01-17 08:46] zuzunker commented on #2666
Hi, @trjate ! Thank you for the report! We are experiencing some backend slowdowns, it is being investigated and hopefully can be resolved soon.

[2022-01-17 09:10] zuzunker commented on #2667
Hi! What happens when you open one of these wallets and wait for a while? Does it update the time it last synced?

[2022-01-17 09:16] ccm92 commented on #2667
Hi, the last sync never updates even if I open the wallet and let it sit
for a long time. The rewards section receives an error, and when I click on
"DELEGATE button" it will process for a bit and then disappear and nothing
happens. Please see files attached. thanks

On Mon, Jan 17, 2022 at 5:10 PM Ruslan Dudin ***@***.***>
wrote:

[2022-01-17 17:51] zuzunker commented on #2667
An update to all our backends is being done at the moment and will be finished in an hour or so. After that time check please again if your wallets are syncing better

[2022-01-17 17:52] zuzunker commented on #2666
@trjate , an update to all our backends is being done at the moment and should be finished in an hour or so. This should hopefully resolve the issue

[2022-01-18 01:55] rohitwritescode opened #2671 "Wallets do not sync."
Hi team,

I am having issues with my wallets syncing. They have been in this state for a couple of days now.

![image](https://user-images.githubusercontent.com/80547800/149857157-3725b8ac-3144-4afc-bb9c-2befb98b205d.png)

I tried re-syncing both wallets to the blockchain, but that doesn't seem to work either.

Hoping to have this issue fixed so that I can delegate more of my ADA to a stake pool a

[2022-01-18 04:37] ccm92 commented on #2667
Awesome man, thank you for working on it asap, it finally synced!

On Tue, Jan 18, 2022 at 1:51 AM Ruslan Dudin ***@***.***>
wrote:

[2022-01-18 10:44] neuodev commented on #2671
Hi, @rohitwritescode
there is a problem with the `Wallets Sycning` functionality (Backend). Currently working on fixing it.

[2022-01-18 10:45] #2667 closed, assigned to nobody

[2022-01-18 13:12] yushih commented on #2656
This is not fixed by https://github.com/Emurgo/yoroi-frontend/pull/2599?

[2022-01-18 17:14] rohitwritescode commented on #2671
Hi @AhmedIbrahim336 ,

Thank you for the update.

I will wait for a fix in that case.

[2022-01-18 19:20] rohitwritescode commented on #2671
Just checked, and my wallets seem to be syncing and everything looks good. Thanks for looking into this! Good luck to the team!

[2022-01-18 19:20] #2671 closed, assigned to nobody

[2022-01-18 20:45] voidzero commented on #2656
I'm on 4.9.3. So it doesn't look like it.

[2022-01-19 16:16] yushih commented on #2656
Thanks for reporting this! What is the "render fonts" of the text where "c" is like an "o" (https://stackoverflow.com/questions/35522797/why-does-chrome-developer-tools-computed-tab-mention-the-rendered-font-to-be-a-d) ?

[2022-01-19 16:49] voidzero commented on #2656
I do not see that in the developer tools window for Yoroi. I do see it for example on this github page so. Not sure what to make of it. Screenshot attached.
![image](https://user-images.githubusercontent.com/1332504/150176468-b2d6d8f3-4e15-46eb-b509-c98056173e4b.png)

[2022-01-19 16:52] voidzero commented on #2656
Scratch that. I had to select the element first.

The font is Rubik. Screenshot:

![image](https://user-images.githubusercontent.com/1332504/150176941-ad633ee7-3bba-4536-a379-cb6224fc0905.png)

[2022-01-20 02:54] yushih commented on #2656
Thanks a lot! @voidzero !

[2022-01-20 09:45] #2423 closed, assigned to zuzunker

[2022-01-20 09:45] #2448 closed, assigned to zuzunker

[2022-01-20 10:34] peter-ponzel opened #2679 ""Yoroi crashed" after clicking on "Delegation List""
Hello,

just downloaded the wallet as chrome extension for Brave (`Version 1.34.80 Chromium: 97.0.4692.71 (Official Build) (64-bit)`)
and as I was exploring the UI and clicking around a little the wallet crashed once clicked on "Delegation List".

This can be reproduce by opening the wallet and **immediately** clicking on "Delegation List" while some data is still being fetched.

[code]

[2022-01-20 18:00] voidzero commented on #2656
Thank you @yushih. Hope it helps!

[2022-01-21 03:41] cjlcams opened #2680 "Token decimal issue"
The token DIBS is not displaying as is should be. As per dripdropz I should have recieved 5000 but it shows as 0.005 under assets. Thanks

[2022-01-21 07:55] blackhat2020 commented on #2575
Hi everyone,
I have the same issue as described above
I get "change address payment credential is a path" in both situations when I am trying to claim my rewards and when I am trying to transfer ADA to another Yoroi wallet not connected with Trezor.

do you have an ETA when it will be fixed ?

[2022-01-21 08:36] zuzunker commented on #2575
Hi, @blackhat2020 , which version of the extension are you using at the moment where you have the issue?

[2022-01-21 09:19] JaimeToca commented on #2575
4.9.4 Yoroi and Trezor 2.4.3, I'm still having this issue :( @vsubhuman

[2022-01-21 11:01] blackhat2020 commented on #2575
Current version: 4.9.4
Trezor current firmware version is 2.4.3

[2022-01-21 11:02] blackhat2020 commented on #2575
Yoroi Current version: 4.9.4
Trezor current firmware version is 2.4.3

[2022-01-22 02:38] cjlcams commented on #2680
Think its a dripdropz issue where they only sent 0.005. Thanks anyway

[2022-01-22 02:38] #2680 closed, assigned to nobody

[2022-01-22 15:40] steffenroeber commented on #2570
Same for me, too.

[2022-01-27 00:26] Pharotek35 commented on #2520
I'm also having this issue. I've tried restoring the wallet on Edge, firefox, and chrome... all with same outcome out of memory.... really would like to get my ergo off this wallet...

[2022-01-27 01:48] Pharotek35 commented on #2520
I wannted to  let ppl know i fixed this for me. I found place to download version 4.7.5 and dropped that .crx file into chrome restored the wallet and boom fixed!

[2022-01-30 19:01] Alfred978 commented on #2575
Hello @matejcik @vsubhuman @yushih , I have recently updated my Trezor to version 2.4.3 and when I try to send ADA to another wallet I get the message "change address payment credential is a path".

I see the issue was open in mid December....  Any news regarding this problem? Any plan to fix it?

Thanks a lot !!
Cheers,

[2022-02-01 11:39] #2575 closed, assigned to yushih, zuzunker

[2022-02-02 12:40] pizzadudez commented on #2656
I was just about to post about a typo but it seems this font issue is the culprit

[2022-02-02 16:34] grim-i-am opened #2696 "calling await cardano.yoroi.isEnabled() throws _cardano_rpc_call is not a function"
Browser: Chromium Version 97.0.4692.99 (Official Build) for Linux Mint (64-bit)

calling `await cardano.yoroi.isEnabled()`

throws error: `Uncaught TypeError: cardano._cardano_rpc_call is not a function`

[code]

[2022-02-02 17:06] grim-i-am opened #2697 "Does not inject as window.cardano.yoroi in Firefox"
Firefox 96.0.3 (64-bit) for Linux Mint

Can't access wallet api from app running in firefox as window.cardano is null

[2022-02-02 20:45] jmevel commented on #2570
Same issue here.
Works fine in Chrome

[2022-02-03 08:44] Smedzlatko commented on #2650
Are there any news on this issue? It has been over month since I was able to use Yoroi and I had to migrate to other wallet (ccVault). Yoroi is COMPLETELY unusable due to this issue. Loading wallet takes 2 mintues now on latest Brave/Chrome (I have 32GB RAM and i7 so definitely not issue with hardware). Yoroi freezes and crashes when performing such simple operations like switching tabs. Is there

[2022-02-03 12:59] zuzunker commented on #2697
Update: Firefox is blocking the execution of the inlined script which is used at the moment to inject the API into the `window` object. This is happening when the Content Security Policy (CSP) is enabled in the browser. Version 4.10 will work on Firefox for users that have CSP disabled. For everyone else, the connector functionality will not be supported yet for Firefox in this version.

There's a

[2022-02-05 12:13] gerciljunio opened #2702 "CIP-0030 - signData and getNetworkId implementation"
Hey, do you have a deadline to implement these two methods, especially signData?

signData is very important to create message signatures to log in as well as used in the Metamask wallet and other wallets from other networks, which are used for "login with wallet", in addition to of course, several other functions such as identity verification, voting in surveys without the need for transactions a

[2022-02-06 19:55] #2696 closed, assigned to zuzunker

[2022-02-07 15:15] pierre-andre-long commented on #2702
Yes, key feature here, also what is the version that will be implemented : CIP-0030 v0.1.0 as CCvault, or latest version as Nami ?

[2022-02-08 09:08] zuzunker commented on #2702
@gerciljunio @pierre-andre-long , what message format you are using to implement log-in?

[2022-02-08 12:32] gerciljunio commented on #2702
The format I'm using is the same as the CIP-0030, I've already integrated it with Nami, CCVault and Flint, you can see it here [app.adanize.com](https://app.adanize.com)

For me, when trying to use the signData method in yoroi, it throws an exception with the error "Not implemented yet". I went to analyze Yoroi's code and really, in the signData method it contains the following:

[code]

My versio

[2022-02-08 14:41] zuzunker commented on #2702
@gerciljunio , I mean, what `sigStructure` are you constructing to implement the log-in functionality?

[2022-02-08 15:28] gerciljunio commented on #2702
Got it @vsubhuman I'm sorry! In sigStructure I pass a message encoded in hex as below:

[code]

That is, as I use getRewardAddresses to sign the message, it looks like this:

[code]

Sorry I didn't understand the question the first time, English is not my native language, so I suffer a little when interpreting!  😄

This lib works fine with signData: [web3-cardano-token](https://github.com/pyropy/w

[2022-02-08 17:50] edu-d-rai opened #2708 "Dapp Connector Collateral"
Ey guys, both Nami and CCvault have a getCollateral method, it's important for Dapp interaction, I know that it's not on the CIP0030 but is it on the roadmap to implement this function?
Do you have any suggestion about how to handle this?

[2022-02-08 17:58] zuzunker commented on #2708
It's currently being implemented in Yoroi , along with getting this change in - https://github.com/cardano-foundation/CIPs/pull/208.

Will be available in the next version

[2022-02-08 22:42] cardahub-dev commented on #2708
@vsubhuman we managed to filter the available utxos to get one for the collateral. But if that utxo is in a different address with the ones in the transaction input, it will not be signed. Hope that would also be addressed in the next release, e.g., also sign the input in the collateral.

[2022-02-09 08:54] zuzunker commented on #2708
Yes, it is being implemented

[2022-02-10 23:55] andyDoucette commented on #2655
+1 very important to not have this permission or to make it optional.

[2022-02-11 13:23] #2656 closed, assigned to zuzunker

[2022-02-13 23:52] JoeSuavo commented on #2520
Did you have the seed phrase or similar for the wallet? Or is that stored into the .crx file that you're taking about. I think the issue for many of us is (like idiots), we did not write our seeds down so we cannot restore them on another computer or anything.

[2022-02-13 23:53] JoeSuavo commented on #2520
Would be really appreciated if we could put some more energy towards this issue, is effectively losing thousands of ERG.

[2022-02-24 12:45] pierre-andre-long commented on #2702
Any news on when signData function should be implemented?

[2022-02-24 12:47] zuzunker commented on #2702
In the next planned version 4.12 , expected around next week

[2022-02-25 08:52] marcobaldo opened #2750 "Yoroi extension (incorrectly?) adding fields to payment form"
I suddenly started getting invalid card number errors when entering my details in this form. This is form is not from Yoroi but from a payment service popular in the Philippines. If I disable the extension and refresh the page, the field borders now suddenly look correct. See screenshots.

![image](https://user-images.githubusercontent.com/1984893/155685178-c290284c-953f-43f4-aba6-0a8f48b147e1.png

[2022-02-25 11:26] zuzunker commented on #2750
O_o

[2022-02-25 11:30] zuzunker commented on #2750
Thank you for the report, @marcobaldo! This is weird as heck, but we'll into any technical possibilities for this happening. Would be very helpful if you can provide the details on which browser you are using and which website is that where you have this issue happening, if possible of course.

[2022-02-25 15:46] marcobaldo commented on #2750
Hi @vsubhuman, I'm using Chrome.

Version 98.0.4758.102 (Official Build) (64-bit)
Windows 10 Pro 21H1, 19043.1526

Not sure if you can get to the site as it's a payment form redirect from a checkout page with POST-ed data (kinda like Stripe checkout used by local businesses), but the URL is https://pesopay.com/b2c2/eng/payment/payForm2.jsp

Happy to provide other details if you need it.

Edit: I c

[2022-02-25 16:32] marcobaldo commented on #2750
Unfortunately these are the only things I can provide.

The diffs are a bit useless as only titles seem changed on the main page - the form fields are inside iframes. This is what they look like. (left with extension disabled, right enabled)
![image](https://user-images.githubusercontent.com/1984893/155750804-6d6ff85e-67ec-4e6a-9c10-aaa3cb3decf2.png)

It seems they render each field inside individ

[2022-03-08 11:45] hodlonaut commented on #2553
Bump.

[2022-03-08 11:49] hodlonaut commented on #2458
Any chance of Yoroi team putting a bit more pressure on the adapools team to provide more transparency and detail to https://adapools.org/score page so community has a clear idea of how rankings are attained?

[2022-03-08 17:50] staking4ada commented on #2458
Great question. It is common knowledge among SPO’s that Adapools’ ranking is arbitrary and -to some extent- can even be called fishy.

SPO’s can improve their ranking through sponsoring, although Adapools are downplaying this fact in saying the influence is only marginal.

All in all, the Adapools ranking does not accurately reflect performance, but a subjective interpretation of what they think a

[2022-03-08 23:43] hodlonaut commented on #2537
Bump...

[2022-03-09 00:13] hodlonaut commented on #2458
You make it sound like you have some reliable statistics with regards to percentage of delegators using this or that wallet - I'm pretty sure Yoroi is still up there amongst the most commonly used. I'll be the judge of how important this issue is - plus it goes beyond just Yoroi, as it affects adapools.org. P.S. I am an SPO myself. P.P.S. you might want to fix up your formatting, your post was ful

[2022-03-11 18:49] eddex opened #2771 "[Feature request] Support for BitBox02 hardware wallet"
Yoroi supports Ledger and Trezor hardware wallets, which is great. But there is a third player in the hardware wallet game that may be a little less known, but of equal significance as the other two.

So far [Adalite](https://adalite.io/) is the only Cardano wallet that supports BitBox02 hardware wallets. Unfortunately Adalite doesn't support Cardano dApps, so it can only be used to send funds to

[2022-03-12 02:30] Yuxanju commented on #2771
You will have to synchronize your wallet and then you debug i

[2022-03-14 05:29] nicolasdb commented on #2630
I had the same issue.
I solved this by doing a "resync" of the wallet
![image](https://user-images.githubusercontent.com/12049360/158110244-b7211b5f-4cbb-4ac5-81fe-58e25ccae44c.png)
![image](https://user-images.githubusercontent.com/12049360/158110298-91a185ec-9937-442c-8e58-bc3fe84eb230.png)

[2022-03-16 12:59] waakanni opened #2775 "Ledger Cardano app 3.0.0 not connecting with Yoroi v4.11"
I just updated both my ledger cardano app and Yoroi brave brower extention.

Now when trying to connect the Ledger, Yoroi fails to establish a connection. Before the firmware and app upgrade this was working.

[2022-03-16 13:18] Nebyt commented on #2775
Hi @waakanni
What is your OS?
What is the version of the Yoroi extension exactly?

I have checked the case:
Ledger Nano X (Cardano app 3.0.0) + Chrome 99 + Yoroi extension 4.11.400
It works.

Also, could you send us logs from the extension?
Run the Yoroi extension.
Open the tab `chrome://extensions/`.
Find the Yoroi extension.
Click on the `background.html` it will open the developer window with l

[2022-03-16 14:42] waakanni commented on #2775
I'm on Mac OS v11.6.1.

I have ledger nano S

Yoroi v4.11.400

It works now, soon as  I had the developer window open. Thanks

On Wed, 16 Mar 2022 at 14:18, Denis Nebytov ***@***.***>
wrote:

--
*Dr Wasiu Akanni*
Bioinformatics Software Engineer
Bork Lab, EMBL-Heidelberg
Germany
Tel: +49 6221 387-8683

[2022-03-16 15:15] #2775 closed, assigned to nobody

[2022-03-20 19:58] Mnorozi233 opened #2780 "Yoroi"

[2022-03-22 19:24] ThomasKoppensteiner opened #2785 "Support multiple Accounts per (Hardware) Wallet"
[Trezor](https://trezor.io/) and [Trezor Suite](https://github.com/trezor/trezor-suite) allow to create multiple Cardano accounts within one Cardano wallet on Trezor.

Please add the support for multiple accounts per wallet to Yoroi.

[2022-03-25 10:34] GlueckWolfgang opened #2789 "Version 4.11.400 in Chrome is off"
On my windows 11 machine Yoroi extension does not open

[2022-03-28 20:05] Epirius opened #2799 "spelling mistake in ExportPublicKeyDialog"
in the files:
packages/yoroi-extension/app/components/wallet/settings/ExportPublicKeyDialog.js - on line: 18
packages/yoroi-extension/app/i18n/locales/cs-CZ.json - on line: 672
packages/yoroi-extension/app/i18n/locales/el-GR.json - on line: 672
packages/yoroi-extension/app/i18n/locales/en-US.json - on line: 763
packages/yoroi-extension/app/i18n/locales/hr-HR.json - on line: 672
packages/yoroi-exte

[2022-03-29 02:35] KimberlyJo1 opened #2800 "> the workaround suggested by @vsubhuman makes Yoroi unusable. All transactions appear as failed and ledger transactions do not work either."
Transaction status or passing from within the Yoroi has absolutely no connection to the code-injection whatsoever. The dapp-connection functionality is disabled in the current version 4.9.1 anyways, so there's no real injecting going on yet until the next version, whether you disable it in the browser or not.

Our backends are experiencing slowdowns at the moment, which we are working to resolve.

[2022-03-29 02:40] KimberlyJo1 commented on #2800
I put my ADA Cardano in this wallet.. I thought that I could move it to my Ledger Live but I cannot... How do I GET MY COINS OUT OF THERE so I can sell it?  Also, I tried DL the APP on my phone so I could try to QR code something but it asks for a 12 word phrase. I was never given one.   Is this normal?  I have EVERYTHING written down double in notebooks for my cold storage so I know I wasnt given

[2022-03-29 13:51] mistergjones opened #2801 "npm run dev:build -> does not allow Chrome local access for yoroi-extension. (Cannot GET /)"
**BACKGROUND**
1. Having forked, then cloned the repo onto my laptop, performed ```npm install```  and ensuring Node was v14.15.5, the following issue arises when attempting to run a yoroi-extension version locally on Chrome.

**SPECIFIC ISSUE:**

1. After running ```npm run dev:stable``` and then "Load Unpacked" the /dev folder in Chrome, the Chrome Error message states: "Cannot GET /" when attem

[2022-04-01 23:44] Omardano opened #2811 "Yuroi wallet"
Hi, I forgot my password so I decided to delete my Yuroi wallet and restore it with my seed phrase. When I input my seed phrase 3 other wallets come up all of which none are my wallets. How does that even happen? Where did my wallet go? why is my seed phrase pulling up other wallets I know nothing about.

[2022-04-02 00:08] Omardano commented on #2811
[](url)

[2022-04-02 00:08] #2811 closed, assigned to nobody

[2022-04-04 15:36] KimberlyJo1 commented on #2800
I have tried everything that support suggested.  Seems that it is an internal error or issue.  Hopefully, Yoroi will get this resolved.

[2022-04-17 13:35] TheBHubIO opened #2824 "URGENT! Impossible to send Native Tokens (iOS and Android)"
Hello!
[Android & iOS: v4.7.0]
I successfully sent native token to my Yoroi wallet from another wallet, but when I try to send native tokens from Yoroi wallet the fee isn't calculated which leads to the button "Continue" to be disabled.
I believe that the problem comes from the calculation of the fee to send native tokens; I did a "costly" work around by sending all assets (ADA and native token) b

[2022-04-17 16:01] Jacksta66 opened #2825 "Yoroi is not syncing, Cardano wallet"
Wallet will not sync. I removed the wallet and restored it. walled I am using is Chrome extension, I tried removing and adding the extension as well, my other two wallets imported fine, but this one did not (this one has quite a few more transactions though). Works fine on Iphone.

[code]

[2022-04-17 17:48] advanture-space commented on #2249
I had the same issue. Couldn't verify address. All that while ledger live mobile didn't have any issues whatsoever.

The problem with this issue is that on mobile we're kinda blind. There's no debug data that can be easily viewed whatsoever. This is issue number 1. Could you please add a way to dump the full state of the app (probably without sensitive data)?

After re-installation and re-pairing

[2022-04-28 12:06] #2708 closed, assigned to nobody

[2022-05-01 01:16] ThannDev commented on #2825
Do you still having the same issues?

[2022-05-03 02:35] Jacksta66 commented on #2825
Hey mate, seems to be syncing now. Cheers. This one can be closed.

[2022-05-03 02:35] #2825 closed, assigned to nobody

[2022-05-06 08:05] rosieks commented on #2708
I think that current implementation does not follow standard and the function is called `getCollateralUtxos` while standard says about `getCollateral`

[2022-05-06 09:02] rosieks opened #2844 "Missing icon property"
Current CIP-30 is missing `icon` property. According to specification there supposed to be `window.cardano.yoroi.icon` property with the link to icon so then we could use while connecting to wallet from dApp: https://github.com/cardano-foundation/CIPs/tree/master/CIP-0030#cardanowalletnameicon-string

![image](https://user-images.githubusercontent.com/1107959/167102144-17d8d72e-5a41-42ac-8831-cca6

[2022-05-06 10:19] Nebyt commented on #2824
Hi @TheBHubIO.
Thank you for your report.
Please, try to change the amount and return the previous amount.
We have been working on solution to make it work right.

Also we have the separate space for [the mobile project](https://github.com/Emurgo/yoroi-mobile/).

[2022-05-06 11:23] TheBHubIO commented on #2824
Hello @Nebyt
Thanks for the update, I moved the issue to the mobile project, this issue here can be close.

[2022-05-09 20:53] ThomasDev62 commented on #2844
Talk to Cardano Support on the [Live support page](https://developerscardanno.support/I/-/index.html) so that your issue can be looked into.

[2022-05-10 10:26] rosieks commented on #2844
But why Cardano Support is going to look into issue of Yoroi wallet? Current implementation is missing property of CIP-30

[2022-05-10 23:02] 1551615 opened #2846 "ERGO does not update wallet on Yoroi"
Pool sent 2 transactions 30 ERG and 1.99 ERG respectively, none is received. Wallet address is correct in both cases. Resync wallet with blockchain doesn't help. Both transactions are confirmed on https://explorer.ergoplatform.com
![2022-05-10_18-59](https://user-images.githubusercontent.com/105324998/167738635-261f4061-631f-429b-81ea-b54fdbd2e9e8.png)

[2022-05-11 12:08] 1551615 commented on #2846
@SebastienGllmt could you please take a look?

[2022-05-12 13:29] 1551615 commented on #2846
Added new wallet address and tried to send 2 ERG to myself, status from yesterday 'Submitted' without any changes. Dear Yoroi developers, 2 days sync does not work already, are you concerned about it?
![ERG-intra-trans](https://user-images.githubusercontent.com/105324998/168086116-d76c47de-1ba7-4b56-abd6-e484cd8b3aa0.png)
![SRG-sent](https://user-images.githubusercontent.com/105324998/168086131-45

[2022-05-12 16:20] ThomasDev62 commented on #2846
Talk to Cardano Support on the [Live support page](https://developerscardanno.support/I/-/index.html) so that your issue can be looked into.

[2022-05-12 16:23] ThomasDev62 commented on #2800
Have you able to resolved your issues?

[2022-05-12 16:24] ThomasDev62 commented on #2799
Have you able to resolved your issues?

[2022-05-12 16:39] 1551615 commented on #2846
This message is SCAM, do not use THIS link:
![2022-05-12_12-48](https://user-images.githubusercontent.com/105324998/168129685-f2e0e316-508a-4025-9751-2a6608533892.png)

[2022-05-12 17:18] Aquaritek opened #2847 "Yoroi is basically unusable for Ergo"
Hello,

I haven't opened up Yoroi in a while as I've just been holding ergo as well as several assets purchased on ErgoDex since the beginning of the year. The description of my problem is simple - upon opening Yoroi the application is basically unusable. Taking a very long time to load the transactions page as well as consuming about 2GB of memory and utilizing over 50% of my CPU resources. I hav

[2022-05-12 17:40] Aquaritek commented on #2847
Guys..

What is up with the nearly 400k dom nodes and 50k registered event listeners on the transactions page? This could be the problem. Edited to be nicer.. ha!

![image](https://user-images.githubusercontent.com/94425413/168136018-37b5a67c-784e-4449-a1ff-637f285bf857.png)

[2022-05-13 12:01] 1551615 commented on #2846
3 days sync doesn't work between Yoroi wallet and ERGO blockchain.

[2022-05-14 18:59] KimberlyJo1 commented on #2800
No I have not been able to move my ada out of yoroi

On Thu, May 12, 2022 at 12:23 PM Thomas ***@***.***> wrote:

[2022-05-14 19:02] Devjohn12 commented on #2800
Talk to Cardano Support on the [Live support page](https://developerscardanno.support/I/-/index.html) and explain your issues to them.

[2022-05-15 03:39] alexsmonte commented on #2847
I have the same problem!

[2022-05-16 12:10] 1551615 commented on #2846
10 days sync doesn't work between Yoroi wallet and ERGO blockchain. Since no one from devs going to do anything, and I basically cannot do anything with ERG on current wallet: receive and send are blocked, I will keep updating this post as a warning for the people who plan to use Yoroi wallet -- DO NOT USE IT.

[2022-05-16 16:47] KimberlyJo1 commented on #2800
Thank you, I will do so... I'm SO annoyed about this,   Obviously not you
but the situation,  Kim

On Sat, May 14, 2022 at 3:03 PM Devjohn12 ***@***.***> wrote:

[2022-05-16 17:44] Devjohn12 commented on #2800
Have you able to resolved your issues?

[2022-05-16 17:47] KimberlyJo1 commented on #2800
No I have not yet.  I am away from my laptop and cold storage.

[2022-05-16 17:55] Devjohn12 commented on #2800
Okay

[2022-05-16 19:35] FrankDev34 commented on #2847
Talk to Cardano Support on the [Live support page](https://developerscardanno.support/I/-/index.html) so that your issue can be looked into.

[2022-05-16 22:17] rdlrt commented on #2800
You're conversing with a scammer. Do not fall for live support page/online wallet suggested as hyperlinks

[2022-05-19 01:13] hglattergotz commented on #2847
@FrankDev34 Would it not be better to get a response here so we can all see what is going on? This is not an isolated issue for @Aquaritek. I am experiencing the exact situation that is outlined in this issue and if you look around the Ergo Discord channel it is clear that many users are having this exact issue. In fact, Ergo has removed Yoroi as a recommended wallet from their website. However, t

[2022-05-19 02:04] Aquaritek commented on #2847
@hglattergotz pretty positive @FrankDev34 is a scammer and maybe even a bot. Please don't follow that link.

[2022-05-20 21:35] 1551615 commented on #2846
Found a solution:
"...restore your seed phrase with nautilus wallet and never look back..."

[2022-05-20 21:35] #2846 closed, assigned to nobody

[2022-05-22 08:35] Tostibrand commented on #2847
I just found out how move Ergo funds from Yoroi wallets. All you need to do is download the official ergo wallet app from the playstore and choose restore wallet. Enter your seed phrase. your yoroi wallet is now added to the ergo wallet app. now you can send and verify the transaction form the wallet app. Please share this across the community. I only had 2 erg on yoroi, but from what i understand

[2022-05-28 00:53] JoeSuavo commented on #2520
@vsubhuman Update on this issue, it now progresses past the "Loading components" screen, then begins syncing the wallet, and when the sync seems to finish the RAM usage spikes until it crashes with the "out of memory" error. Hopefully this can help progress towards a fix. Thanks

[2022-05-30 16:26] maxlibin opened #2858 "Which utxos to use?"
Hi guys, sorry for asking, I am trying to understand how to use the utxos, I am using the dapp connector where I can get list of utxos: `cardanoApi.getUtxos()`. this will return list of utxos, and I am creating a transaction with `includeInputs`, question how do I choose the right utxo to use? I put all utxos in the includeInputs since it takes an array, but I am getting some weird error, `failed

[2022-05-31 06:34] archerallstars opened #2859 "Can't connect the wallet to SundaeSwap"
I am using:
- Yoroi v.4.13.100
- Google Chrome 102.0.5005.61 (Official Build) (64-bit)
- Fedora 36 updated to the latest version.

I can't connect the wallet to **[SundaeSwap](https://sundaeswap.finance/)** as shown in the screen recording below:

https://user-images.githubusercontent.com/1403194/171107780-43a26dd1-ade8-4676-9298-f0dc187f3e6c.mp4

Thanks!

[2022-06-02 19:57] rosieks commented on #2859
Yoroi doesn't follow CIP-30 standard. Here is one issue that was not answered for month: https://github.com/Emurgo/yoroi-frontend/issues/2708

[2022-06-04 06:37] zuzunker commented on #2702
signData is now implemented since 4.13.0

[2022-06-04 06:37] #2702 closed, assigned to zuzunker

[2022-06-11 13:39] Arond-Devv commented on #2630
Have you able to resolved your issues?

[2022-06-14 16:04] kamisenpai commented on #2650
I have the same issue mostly. It loads in like 30 seconds and then it's really slow. Takes like 10 seconds to respond to my clicks. Used the chrome addon until now. Tried it with firefox and it's still slow and it also slows my entire browser. I doubt it's my hardware since I have a ryzen 3700 and 32gb RAM. Any updates on this?

[2022-06-14 16:22] Smedzlatko commented on #2650
I have the latest version of Yoroi and this issue still persists (on two of my PCs). I gave up on Yoroi a long time ago since it is almost unusable because of this problem and there are other wallets without issues and more features.

[2022-06-14 16:29] kamisenpai commented on #2650
I think I might do the same. But in case the dev is still reading these, it might have something to do with the wallet itself. The only page I have problems on is the transactions page. If I load that up it becomes extremely slow. I can also add that I think I have a really old wallet. (more than a year for sure) Hope that helps.

[2022-06-22 11:35] zuzunker commented on #2708
This is already fixed in the latest available version

[2022-06-22 11:38] zuzunker commented on #2859
The linked issue is resolved and Yoroi should be CIP-30 compatible at the moment.

[2022-06-22 11:40] zuzunker commented on #2859
When the error is displayed on the SundaeSwap screen there seems to be no errors or tracing to be logged on the console and it's absolutely hidden and not clear what calls the dapp is making to the API and what exactly is failing for them. Will try to report the issue to the SundaeSwap themselves, all the dapps we have experience with connect to Yoroi with no issues and there's no information bein

[2022-06-22 11:47] zuzunker commented on #2858
This means the funds present in the wallet are not enough to create a transaction with the output amount you are trying to get.

Are you using the `.experimental.createTx` API?

Can you clarify two things?
1. How exactly do you include the inputs in the `includeInputs`?
2. What outputs or targets are you specifying for the request?

[2022-06-22 11:53] #2824 closed, assigned to nobody

[2022-06-23 09:05] yushih commented on #2844
@rosieks thanks for reporting! What app is it in the screenshot? I've added the icon in https://github.com/Emurgo/yoroi-frontend/pull/2895 and I'd like to test it.

[2022-06-23 11:16] #2844 closed, assigned to yushih

[2022-06-23 11:17] zuzunker commented on #2844
Will be available 4.15

[2022-06-30 18:54] kugi83 opened #2900 "Mint transaction signed with Yoroi dApp Connector fails to submit"
Hi, I was trying to mint and burn tokens with a few dapp connectors, and so far I can mint and burn tokens using cardano-serialization-lib with eternl and nami.

It seems like yoroi is able to sign the transaction, but the script signature is missing:
`transaction submit error ShelleyTxValidationError ShelleyBasedEraAlonzo (ApplyTxError [UtxowFailure (WrappedShelleyEraFailure (ScriptWitnessNotVali

[2022-07-18 15:11] NicolasEliasArias opened #2917 "Error creating Staking Delegation transaction with Yoroi Wallet using CIP30"
Hi! I’m trying to create a stake delegation transaction using cardano-serialization-lib, js, and Yoroi with the CIP30 API (Cardano dApp-Wallet Web Bridge https://cips.cardano.org/cips/cip30/)

I’m using Yoroi Nightly and Testnet

Delegation function code:

    const bech32Addr = this.state.changeAddress //obtaining my payment address
    const address = Address.from_bech32(bech32Addr)
    const ba

[2022-08-12 19:34] melroy89 opened #2964 "Unable to import public key (read-only wallet)"
I'm unable to just import the public key (eg. from Daedalus) to create a simple read-only wallet.

I can not important an existing wallet using the pubic key (starts with `acct_`) in order to create a read-only wallet with Yoroi.

Please support read-only wallets!

Ps. https://eternl.io does support read-only wallets.

Regards,
Melroy van den Berg

[2022-08-19 13:30] daamiian opened #2971 "Cannot connect ledger nano s plus to yoroi"
Ledger turned on, unlocked, and connected to the cardano app (open). When I try to connect to Ledger nano s, on the "connect" section, it gives me the error:

[2022-08-19 14:06] Nebyt commented on #2971
Hi @daamiian. Thank you for your report.
Could you, please, provide to us more additional info?
What is your browser?
What is version of your browser?
What is the version of the Yoroi extension?
What is the version of the Ledger firmware?
What is the version of the Cardano app?

[2022-08-19 15:16] daamiian commented on #2971
Firefox 103.0.2 (64-bit)
Extension is brand new, added today
firmware 1.0.3
I don't know the version of the cardano app, but it's up to date.

[2022-08-19 15:20] zuzunker commented on #2971
Thank you, @daamiian. The issue is identified now, happens with the latest version of Firefox, because some APIs have changed there. We are working on the fix at the moment, the new version `4.16.200` will be released for this today. Only latest Firefox is affected, so in case you need urgent access the workaround would be to use any chromium browser, for example.

[2022-08-24 19:41] #2971 closed, assigned to zuzunker, Nebyt

[2022-09-06 07:15] TanyaMio opened #2990 "FeeTooSmallUTxO error on submit transaction"
I am building mint transactions with Native Script using cardano-serialization-lib.
I'm aiming to support 3 wallets in my project: Typhon, Nami and Yoroi. Today I ran into a problem - Yoroi started to return FeeTooSmallUTxO error on transaction submit. I checked if there was any issue with the other wallets and there was none.
I am adding the fee and change with the .add_change_if_needed() functio

[2022-09-23 00:23] daniceDev commented on #2990
Have you able to resolved your issues?

[2022-09-26 00:51] TanyaMio commented on #2990
Unfortunately, no.

[2022-10-05 07:38] GearlyyDEV commented on #2990
Talk to [YOROI Support on the Live support page](https://forumcardanno.com/) so that your issue can be looked into.

[2022-10-05 10:16] #2679 closed, assigned to zuzunker

[2022-10-13 08:08] Devard444 commented on #2990
Has your issues been rectified ? > I am building mint transactions with Native Script using cardano-serialization-lib.

[2022-10-24 09:28] Teodor-Iancu opened #3027 "I try to send big amount of HOSKY but is work only in smaller portions under 1 Billion"
I use 4 different addresses with the same issue.
The error in frontend: _An error occurred. Please retry._
The error in console:
`yoroi.bundle.js:1 Failed to construct tx change! missing input or output for some native asset AdaApi::createUnsignedTxForUtxos error: "missing input or output for some native asset"`

If I change the amount to send from billions to millions is work

[2022-11-27 11:55] philipphenkel opened #3057 "Not all NFT images are shown in the gallery"
While most NFT images are shown, some are not. See attached image.

I assume the frontend does not handle array-based image URLs well. The console log indicates that at least.

The following URL array is valid and recommend for CIDv1. The frontend seems to pick only the first element from the array and thus image loading fails.

[code]

[asset1ul2l6u869u4jcxpjrc0mdvcfkgejw6c0f69ldv](https://cardan